[2017-09-15 19:24] lassoan opened #79 "Volume reconstructed by PlusRemote is shifted"
As previously reported by others, too, volumes reconstructed using PlusRemote appear shifted in Slicer. If the volume is loaded from file then position is correct, the position is only corrupted when the volume is sent over Openigtlink.

[2017-09-17 13:48] lassoan opened #80 "Remove requirement of issue reference from pre-commit hook?"
With github workflow, I find it difficult to enforce requirement of referencing to an issue in each commit comment (merge commits are not well formed, rejecting commits from contributors because of not referencing an issue is not easy, etc) and overall it has limited value (you can include details in the commit comment, very often commit comments referred to generic or old tickets, and sometimes d

[2017-09-17 15:37] adamrankin commented on #80
Hmm, I know it's sometimes a hassle, but I think it's worth keeping.

We can implement a server side solution via their webhooks. Although you can't reject a push, you could lock down the master branch, and only allow pushes to development branch, and have a CI server merge to master after a CI build passes.

I know it's a bit of effort to set up a new build system, but I think it's worth it.

We

[2017-09-17 15:38] adamrankin commented on #80
Addendum: since we've moved to github, we've gained the fact that there is a huge community of third-party integrations that make it relatively easy to add nice things like build status icons, etc... to our readme.md page.

[2017-09-17 15:44] adamrankin commented on #80
Additionally: I just realized... we can run the SetupForDevelopment.sh from the CMake configure step! This would at least enforce some rules. We could also improve the pre-commit hook by adding valid ticket commits (open tickets only, etc...)

[2017-09-17 17:33] lassoan commented on #80
Third party integrations are all good, we should definitely make use of them - but let's get back to that later, it's not related to this topic.

Doing checks in pre-commit hook and "enforcing" them through CMake is a good idea, too.

However, it's not clear for me what we gain by forcing references to issues. On Assembla/SVN it was essential, as that was the place where discussions could happen.

[2017-09-17 18:31] cpinter commented on #80
I tend to agree with @lassoan. I have mainly worked on Slicer core in the past year or two, and I did not feel that _always_ having to reference an issue was necessary.

Many times, especially COMP, STYLE, and PERF type commits had no reason to be associated to a ticket, while in SlicerRT for example, if I had such a change to commit, I had to create a ticket just to be able to make that one commi

[2017-09-17 18:56] lassoan commented on #80
Thanks Csaba, good points.

I just remember that another reason for enforcing ticket references to prevent users from negligently or accidentally write poor commit messages (in Assembla SVN, commit messages were not possible to change retrospectively). We don't have this problem on github.

[2017-09-18 14:13] adamrankin commented on #80
Makes sense. I'm on board with removing it. We could keep a few basic rules (like min 40 chars or something).

[2017-09-18 14:17] cpinter commented on #80
A character limit is definitely a good idea. I'm not sure if a URL requirement is feasible (like when automatic merge commits there is none), but it would be useful I think.

[2017-09-18 16:32] adamrankin commented on #80
I like the topic branch/pull request flow. @lassoan feel free to remove # requirement.

[2017-09-19 06:36] prash-p opened #82 "Enable wireless Optotrak markers for tracking"
Relevant OAPI function is RigidBodyAddFromFile()

[2017-09-21 13:14] purav70 opened #83 "Failed Build of PlusBuild when using StealthLink"
Hello,

I'm trying to build Plus to communicate with StealthLink (I'm using VS2010 on an 64 bit Windows 10 machine). Without Stealthlink, Plus is able to build fully, with no failed builds or errors. However, upon including the Stealthlink flag, the build fails (specifically PlusLib and PlusApp) and build errors such as the following come up.

I've tried using only static libraries given the boost

[2017-09-21 13:16] adamrankin commented on #83
Give me a few minutes to install VS2010 and get a build setup.

[2017-09-21 13:31] purav70 commented on #83
Much appreciated

[2017-09-21 15:13] Sunderlandkyl opened #84 "Modify algorithms to call Update function as in VTK"
... and as in vtkBrackyStepperPhantomRegistrationAlgo

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=405

[2017-09-21 15:14] Sunderlandkyl opened #85 "Add option to burn in image orientation into the pixels"
For debugging purposes it would be useful to be able to draw the image orientation (two labelled arrows pointing to M and F directions) in the image pixels. This way it could be checked if the image orientation remains consistent during the processing, exporting, and importing the images.

[2017-09-21 15:23] Sunderlandkyl opened #86 "Define default models for tools for easier visualization"
Define default models and give the possibility to the user to choose among them if they don't have an STL file.
Default freehand and endocavity probe models, needle, stylus etc.
This could be defined as: instead of <DisplayableObject Type="Model" ObjectCoordinateFrame="TransducerOrigin" File="L14-5_38_ProbeModel.stl"...> we could use <DisplayableObject Type="Model" ObjectCoordinateFrame="Transduce

[2017-09-21 15:24] adamrankin commented on #83
My build completed successfully using StealthLink 2.0.1.

The other thing that's strange is that Plus doesn't use boost.

[2017-09-21 15:24] adamrankin commented on #83
What other devices do you have enabled?

[2017-09-21 15:25] Sunderlandkyl opened #87 "TransducerOriginPixelToTransducerOrigin transform is computed inaccurately"
See https://www.assembla.com/spaces/plus/messages/2066353

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=545

[2017-09-21 15:27] Sunderlandkyl opened #88 "Create a GUI to create/maintain Plus configuration files"
Prevent user errors by creating a configuration file generator from a database of known devices/phantoms/segmentation configs/etc...

Always allow the user to add his own custom elements (new phantom, new params, etc..)

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=607

[2017-09-21 15:27] Sunderlandkyl commented on #88
2012-10-01 13:24
Andras Lasso
Developing a convenient config file generator requires significant effort, but it's much more, continuous work to maintain it. It would mean that after any configuration related change the generator shall be also updated (and of course the example config files still have to be maintained the same way).

Instead of developing a generator wizard I would rather invest ti

[2017-09-21 15:28] Sunderlandkyl opened #89 "Check the LSQR residual result during calibration"
Currently we don't check the residual returned by the least-square solver. At least we should display a warning if the residual is above a certain tolerance (it means that the computed results are unreliable).

[2017-09-21 15:29] Sunderlandkyl opened #90 "Detect probe orientation automatically when an asymmetric wire pattern is used"
fCal_1.0_Wiring_1.0 is symmetric, therefore there is no way to tell if the probe is rotated 180deg. fCal_1.2_Wiring_1.1 has an asymmetric wire pattern, so it should be possible to determine the wire labels automatically, regardless of the orientation of the probe. However, it should be tested that the labeling really works correctly for any probe orientation. Once the display of the wire names in

[2017-09-21 15:30] Sunderlandkyl opened #91 "Use different postprocessing on acquired US images to improve image quality"
This may be an idea for a student project in the future.

Stephen Aylward suggested that we look into this toolkit:
http://mi.eng.cam.ac.uk/~rwp/stradx/
If it's not open-source now, Kitware can share their similar code if we want to integrate it into PLUS. It does homogeneity correction and/or corrects displacements due to varying pressure of the US probe on the tissue during scanning.

He also su

[2017-09-21 15:31] Sunderlandkyl commented on #91
2012-12-11 23:39
Andras Lasso
StradX is not open-source. It would be interesting to know a bit more about what Kitware could contribute for the homogeneity/displacement correction.

We started from the Synchrograb4D version (Danielle's addition to Synchrograb), however the 4D add-on was removed due to increased complexity. With the multi-stream design it'll be easy to reintroduce 4D reconstruction

[2017-09-21 15:31] Sunderlandkyl opened #92 "Optimize RF to brightness conversion when the input is brightness"
In vtkRfToBrightnessConvert when the input is brightness (so only scan conversion is performed) the pixels are copied line-by-line. Optimize the converter to not copy the pixels (see the TODO: text in vtkRfToBrightnessConvert.cxx)

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=691

[2017-09-21 15:34] Sunderlandkyl opened #93 "Buffersize does not change when sector size is changed"
The vtkDataCollectorHardwareDevice works fine on its own, but when the sector size is changed, then the received frame size and the buffer size do not match.

The following code snippet produces the error, where the dataCollector is a pointer of vtkDataCollectorHardwareDevice type.
[code]

121911_172507.717 [ERROR] [016.838000] Received frame size (249604 bytes) doesn't match the buffer size (4992

[2017-09-21 15:35] Sunderlandkyl commented on #93
2011-12-19 22:10
Siavash Khallaghi
Maybe I am using vtkDataCollectorHardwareDevice in a way that I am not supposed to. I am guessing that maybe I should use dataCollector->GetVideoSource()->StartRecording() and StopRecording() instead of Start() and Stop().

2011-12-20 07:08
Andras Lasso
Changing frame size during data collection is currently not supported in Plus. We were thinking about implement

[2017-09-21 15:36] Sunderlandkyl opened #94 "Bmode image is not received when using shared memory for the second time"
If we connect to exam using Ulterius with UseSharedMemory set to true, and if the application crashes, in the second connection we cannot get Bmode image from the data collector. The issue resolves if we restart the exam software.

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=566

[2017-09-21 15:37] Sunderlandkyl commented on #94
2012-07-27 17:58
Andras Lasso
This problem is in the Exam software and/or Ulterius (all resources are released when the Plus application process is terminated, so if there is any unreleased resource then it must be in the Exam software).

It's quite unlikely that Ultrasonix is going to invest any time into fixing problems in Ulterius 5.7, as Ulterius 6.0 is a complete rewrite and still requires a

[2017-09-21 15:38] Sunderlandkyl opened #95 "Clean up MicronTracker interface classes"
MicronTracker tracking seems to work fine, but the interface classes (PlusLib\src\Tracking\MicronTracking\Utils) are implemented very poorly. Need a review and clean-up including:
VERY IMPORTANT PROGRAMMING NOTE in MicronTrackerInterface.cpp
check ownedByMe handling (probably it should be set to false if the handle is not created by new)
consistent return values (sometimes int, sometimes bool; som

[2017-09-21 15:39] Sunderlandkyl opened #96 "Calibration algorithms give different results on linux"
Find out the source of the difference.

See http://crunch.cs.queensu.ca/CDash/viewTest.php?onlyfailed&buildid=10107

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=590

[2017-09-21 15:40] Sunderlandkyl commented on #96
2012-09-12 17:48
Csaba Pinter
(In plus:2082) Re #590: Increased tolerance added to tests that failed under Linux when running under non-Windows OS

[2017-09-21 15:40] purav70 commented on #83
Stealthlink is the only device that I've enabled. The boost libraries are in the StealthLink directory, I'm not sure if they were there initially, or if Plus built them. Also I'm using StealthLink 2.0.0.

[2017-09-21 15:41] Sunderlandkyl commented on #95
2012-08-17 14:03
Andras Lasso
(In plus:2001) re #571: Added build option to test the accuracy of the timestamps provided by the MicronTracker device

[2017-09-21 15:41] adamrankin commented on #83
Hmm, interesting. Our StealthLink's differ then, because mine is just a .lib, .dll and .h files. Do you have access to 2.0.1?

[2017-09-21 15:46] Sunderlandkyl opened #97 "BK GrabbieLib improvements"
BK's GrabbieLib needs some fixes and improvements:
- The TcpClient::Write(buffer, size) method in BK returns (size+2) if the operation is successful. It should return (size) instead. See usage in vtkBkProFocusOemVideoSource::InternalUpdate().
- Improve CMake files: it should properly export all library targets

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=

[2017-09-21 15:46] Sunderlandkyl commented on #97
2013-04-11 18:32
Andras Lasso
(In plus:2686) re #722: Added comment explaining why we add +2 to the expected return value of OemClient->Write

[2017-09-21 15:47] Sunderlandkyl opened #98 "Make the initialization of PhidgetSpatial tracker faster"
Currently, the OrientationSensor and FilteredTiltSensor tools in the PhidgetSpatial tracker require a couple of seconds (or more, depending on the gain value) to converge from the initial orientation to the current orientation. To avoid this artifact, when the first measurement is obtained from the sensor, that measurement data should be used to update the sensor fusion algorithm many times, makin

[2017-09-21 15:48] Sunderlandkyl opened #99 "Refactor access rights in vtkPlusDevice"
Disable access to data sources, force all devices to request data from previous device in the pipeline, extract/copy any necessary data and place in new output channel.

This will increase memory requirements but provide a safer, cleaner, less bug-prone implementation.

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=756

[2017-09-21 15:48] Sunderlandkyl commented on #99
2013-05-07 18:03
Andras Lasso
Is it going to have a performance impact as well (extra copying)? Would be useful to do some performance testing to make sure the overhead of any extra copying and synchronization is negligible. With duplication of data it may be even possible that the performance will increase (as there may be less overhead in synchronization), but it's difficult to predict without a

[2017-09-21 15:49] Sunderlandkyl opened #100 "Add config file parameter to control decimation of the BkProFocus imaging source"
Amount of data generated by the vtkBkProFocusVideoSource is huge. Probably the RF scanlines need not to be acquired at full resolution. Expose the decimation parameter of the PlusBkProFocusReceiver as a parameter in the device set configuration file.

[2017-09-21 15:50] purav70 commented on #83
This is odd, the StealthLink DVD says version 2.0.1, however in the release notes in one of the folders within, it specifies version 2.0.0. Regardless, I checked the DVD itself and in the windows/x64/release, it contains 3 libboost libs (libboost_date_time-vc100-mt-s-1_46_1.lib, libboost_regex-vc100-mt-s-1_46_1.lib, libboost_system-vc100-mt-s-1_46_1.lib) along with the .dll and .lib files.

[2017-09-21 15:51] Sunderlandkyl opened #101 "Reconsider architecture of data collector, visualizer and responsibility for writing config files"
As it stands, visualizationcontroller is the entry point for writing configuration files, this doesn't make sense as the visualizationcontroller is a client of the pluslib. If a different client is used, then such an action wouldn't produce the same results.

Migrated from https://app.assembla.com/spaces/plus/tickets/757/details

[2017-09-21 15:53] Sunderlandkyl opened #102 "Potential RF line buffer size mismatch in BK ProFocus image source"
The following warning in PlusBkProFocusReceiver.cxx is displayed in certain cases:

LOG_WARNING("Not enough space allocated to store all the RF samples. Input: "<<numberOfSamplePairsInInput<<", output: "<<numberOfSamplePairsInOutput);

Currently the warning has been disabled to reduce clogging of the error log, but we should investigate why this happens and fix it. If the warning is displayed then

[2017-09-21 15:54] Sunderlandkyl commented on #102
2013-03-15 17:59
Andras Lasso
@fedorov:
Do you have an idea why we see this warning now and why it wasn't displayed before?
Maybe because we switch probes and Prepare is called only once?
What are the logged numberOfSamplePairsInInput and numberOfSamplePairsInOutput values?

2013-03-29 09:13
Andrey Fedorov
Andras, I think this warning has always been there. I think I looked into this before, but d

[2017-09-21 15:55] Sunderlandkyl opened #103 "Add quick plane switching capability to BK biplane probes"
With the current vtkBkProFocusVideoSource switching between sagittal and axial transducer requires disconnect and connect. Now Plus supports multiple output channels (each with a different video stream) for devices. However, the BK video source should be update to take advantage of this. The BK video source should detect which scan plane is used for each acquired frame and emit the video on the ap

[2017-09-21 15:57] Sunderlandkyl commented on #103
2013-02-15 10:55
Andrey Fedorov
Getting plane info from BK update:

BK supports a list of events attached at the bottom of the message. Subscription to events is done as follows (we have oemClient in bkProFocusVideoSource):

this->oemClient->RegisterCallbackFunc(AutoUpdate, this->buffer, sizeof(this->buffer),"EVENT:");

When event arrives, buffer looks like this: "EVENT:<event_type>;". I tested, a

[2017-09-21 15:57] Sunderlandkyl opened #104 "Determine optimal sensor fusion parameters using an optical tracker as ground truth"
Determine optimal sensor fusion parameters for motorized transrectal probe rotator, using an optical tracker as ground truth

Migrated from https://app.assembla.com/spaces/plus/tickets/realtime_list?page=1&ticket=774

[2017-09-21 15:58] Sunderlandkyl opened #105 "Add support for controlling the sandwich robot"
- Get information about the commands (Andras)
- Implement class to communicate with the hardware

Migrated from https://app.assembla.com/spaces/plus/tickets/856/details

[2017-09-21 16:09] Sunderlandkyl opened #106 "Plus tutorial using no special hardware"
According to a former discussion with Tamas, it would significantly boost the currency of Plus, if we had a tutorial that can be done at home using no special hardware.

A possible approach is a MicronTracker-like home-made tracking system, consisting only of a webcam, and printed markers.

The biggest component we don't have is a (checkerboard) camera calibration algorithm, but there may be an op

[2017-09-21 16:10] Sunderlandkyl commented on #106
2012-10-02 11:37
Tamas Ungi
If one wants to do a webcam tracker, IGSTK should be checked. They probably use OpenCV or something like that.
Unfortunately the biggest advantage of PLUS (ultrasound) is not so easy to try at home.

2012-10-02 13:09
Tamas Heffter
Victor Grzeda used checker board calibration and webcam in his project, see: for http://perk.cs.queensu.ca/projects/carm-encoding

2012-10-02

[2017-09-21 16:14] Sunderlandkyl opened #107 "Add sending custom attributes when stealthlink volume is sent with the command GET_EXAM_DATA"
The volume is sent with an id and the id is created as deviceid+hash.
When sending this volume, send also custom attributes like patient name patient id description and slicer should know what to do with them.
This will be implemented in the vtkPlusStealthLinkCommand

Migrated from https://app.assembla.com/spaces/plus/tickets/904/details

[2017-09-21 16:14] Sunderlandkyl opened #108 "Add a separate set of styluses (Stylus_60mm, Stylus_100mm) with a hole at the tip, where we can glue a pin/nail."
3D printed stylus is pretty good still sometimes might be worth to put at the end a metal tip, sharper and that does not break. Because the one used has been pivoted so many times that the tip is not so sharp anymore.

Migrated from https://app.assembla.com/spaces/plus/tickets/938/details

[2017-09-21 16:15] Sunderlandkyl commented on #108
2014-09-26 11:06
Andras Lasso
Instead of gluing we could create a hole where standard high-precision indicator tips (sharp or sphere) could be inserted.

For example, one of these:
http://www.mcmaster.com/#indicator-tips/

[2017-09-21 16:16] Sunderlandkyl opened #109 "Move PhidgetSpatial per-tool parameter settings to the tool elements"
Move attributes such as TiltSensorWestAxisIndex, AhrsAlgorithm, AhrsAlgorithmGain, etc. in the tool elements.

To manage deprecation: PLUS_ENABLE_DEPRECATED_API controls supporting of deprecated config file or algo interface. Remove in next major version (or after 6 months). Add date of deprecation. Log warning when deprecated API is used and explain how to migrate to the supported version.
[code]

[2017-09-21 16:16] Sunderlandkyl opened #110 "More descriptive config file parameter names needed"
Some parameter names in the config files are still not informative enough. E.g.
VolumeReconstruction/OutputSpacing -- this could be OutputSpacingPixelsPerMm.
VolumeReconstruction/ClipRectangleOrigin ans Size -- this is clear for people who are familiar with VTK: http://www.vtk.org/Wiki/VTK/Tutorials/Extents , but not clear to other people. Maybe if units were added, that would make it easier to un

[2017-09-21 16:17] Sunderlandkyl commented on #110
2014-10-03 08:56
Andras Lasso
Full documentation of parameters are provided in the user manual, so that should help.

[2017-09-21 16:18] Sunderlandkyl opened #111 "Improve fCal-3.x phantom"
- Create wiring recommendation (XML description and screenshots)
- Create non-regression test case with test config file, image sequence, baseline data
- The letters on both sides are denoted with capital letters, one side should be lower case (as per fCal 2.0)
- Not all landmark dimples have the same depth

Migrated from https://app.assembla.com/spaces/plus/tickets/941/details

[2017-09-21 16:24] adamrankin commented on #83
I admit I'm not sure where to go from here.

Let me check the StealthLink find script, and see if it's just grabs all .libs in the folder.

[2017-09-21 16:27] adamrankin commented on #83
No, not that. Is your StealthLink only .lib files? If not, can you use DependencyWalker on the StealthLink.dll to see if the boost libraries are a dependency?

[2017-09-21 16:48] Sunderlandkyl opened #112 "Fix coverity errors in PlusLib"
https://scan.coverity.com/projects/916

Migrated from https://app.assembla.com/spaces/plus/tickets/885/details

[2017-09-21 16:49] Sunderlandkyl commented on #112
2014-05-15 13:25
Adam Rankin
Sign up required, I don't suppose the summary screen is easy enough to replicate on this ticket?

2014-05-15 13:31
Andras Lasso
Add your coverity account to this ticket and then I can grant you access.

[2017-09-21 16:50] Sunderlandkyl opened #113 "Add version information to Plus binaries"
This is a proposal for adding version information to Plus binaries, which could be really helpful identifying the actual dll and app version.
Under Windows, we just need to add an rc file for each binaries once and CMake will do the rest.

Here is what I used in another project:

**Create a new CMake include file (VsInterface.rc.in):**
[code]

**This is what we need to add to the actual CMake file

[2017-09-21 16:51] Sunderlandkyl commented on #113
2012-04-24 15:51
Tamas Heffter
![versioninfo](https://user-images.githubusercontent.com/9222709/30708095-9e590d7a-9ecb-11e7-8f36-105938794fa8.jpg)
Binary version info

[2017-09-21 16:54] Sunderlandkyl opened #114 "Fix Ultrasonix RF data interpretation"
We receive udtRF data from Ultrasonix scanners (Exam software 5.7) with a dimension 2080x256 when using an L14-5 transducer with default imaging parameters. There is a slight shift in every second line.

In Plus the assumption was that the shift is due to IQ encoding, and therefore two lines were combined into one during brightness conversion step. However, this seems not to be the case, but each

[2017-09-21 16:57] Sunderlandkyl commented on #114
2013-04-26 16:02
Andras Lasso
![rf256wide](https://user-images.githubusercontent.com/9222709/30708252-2c25d25a-9ecc-11e7-822a-95a75226a68b.png)
Ultrasonix RF data with 256 rows: every second line is shifted in

2013-04-26 16:04
Andras Lasso
![rf256-odd-even-rows-original](https://user-images.githubusercontent.com/9222709/30708268-3e1a2876-9ecc-11e7-9bef-1f553e9b7686.png)
Average signal of 3 odd an

[2017-09-21 16:59] Sunderlandkyl opened #115 "Add support for BK 8862/8863 probes"
We have used the attached patch to add support for several additional BK probes (so far used with 8862 probe to acquire RF data during one neurosurgery case).
This issue is to request review and advice. In particular there are two points which would break support for the prostate probe:

L44: there is only one channel available (also for 8863 and 8820e probes)

- Should I add a configuration optio

[2017-09-21 17:00] Sunderlandkyl commented on #115
2014-01-21 12:31
Isaiah Norton
[8862-diff.txt](https://github.com/PlusToolkit/PlusLib/files/1322119/8862-diff.txt)

2014-01-21 15:48
Andras Lasso
Any solution that is backward compatible should be fine.
@rankin, could you please review and integrate the proposed changes?

2014-01-21 16:11
Adam Rankin
It seems fine. Does is still work for the existing setups is the real question.

2014-01-21 16:21

[2017-09-21 17:01] Sunderlandkyl opened #116 "Tune Phidget sensor fusion parameters"
With rotation along a fixed axis the Phidget sensor "OrientationSensor" tool appears to provide a more complex trajectory (not just a rotation along a single axis, but also some transient twisting).

Tune the parameters, so that the sensor fusion works correctly for a 180deg rotation around a horizontal axis at a 3-4deg/sec speed.

Migrated from https://app.assembla.com/spaces/plus/tickets/675/det

[2017-09-21 17:11] Sunderlandkyl commented on #116
2013-05-17 10:54
Andras Lasso
The issue that they have is that currently none of the sensor fusion algorithms in PLUS work well enough for this relatively simple task:
the TiltSensor mode doesn't do any sensor fusion or filtering therefore it's very noisy
the OrientationSensor mode with magnetometer (AHRS mode) is not reliable due to inhomogeneous magnetic field
the OrientationSensor mode without

[2017-09-21 17:12] Sunderlandkyl opened #117 "Clean up Matlab OpenIGTLink implementation"
Use this repo:
https://github.com/niravatgit/MatlabOpenIGTLink

and remove the files in Plus:
https://www.assembla.com/code/plus/subversion/nodes/3847/trunk/MatlabUtils/MatlabOpenIGTLinkInterface

Migrated from https://app.assembla.com/spaces/plus/tickets/951/details

[2017-09-21 17:13] Sunderlandkyl opened #118 "Use performance profiler and memory checker to optimize Plus"
Use DevPartnerStudio (license available in PerkLab)

Migrated from https://app.assembla.com/spaces/plus/tickets/952/details

[2017-09-21 17:14] Sunderlandkyl opened #119 "Make PlusLib reusable from other applications"
Goal: Algorithms implemented in Plus should be reusable from Slicer modules or other external applications.

Approach: Modify PlusLib so it is usable alone. Compile PlusLib without hardware support.

Tasks:
- Try to compile PlusLib in a SlicerIGT module. Create superbuild CMake that checks out the code. (Andras)
- In the same module implement conversion between Plus tracked frame list and sequence

[2017-09-21 17:14] Sunderlandkyl opened #120 "Allow temporal calibration to be performed using a calibration phantom"
The new correlation-based temporal calibration works well for free-hand US, but when the transducer is in a stabilizer then it is more convenient to do the temporal calibration with the same phantom used for spatial calibration.

Modify the temporal calibration algorithm so that it can use an externally-computed video-based position signal. Modify the iCal application to use the new temporal calib

[2017-09-21 17:15] Sunderlandkyl commented on #120
2012-10-27 22:48
Andras Lasso
(In plus:2210) re #487: Added API for setting position signal computed externally. No more modifications should be needed in the TemporalCalibrationAlgo class to allow temporal calibration to be performed using a calibration phantom.

2013-07-09 14:58
Adam Rankin
@lassoan Should this be an iCal ticket?

2013-07-09 15:22
Andras Lasso
Performing the temporal and spatial

[2017-09-21 17:17] Sunderlandkyl opened #121 "Adaptation to parameter changes in PlusServer"
The depth is frequently changed during US-guided interventions. Since we have different ImageToProbe matrices for each depth, stored in different config files, the PlusServer should be restarted now at each change in depth. This takes unacceptably long time during interventions.

A possible solution: ImageToProbe matrices could be stored for every possible depth in one config file. PlusServer coul

[2017-09-21 17:19] Sunderlandkyl commented on #121
2012-08-31 12:06
Tamas Heffter
I agree, plus server should be able to choose between different configuration files, and more over, it should send the transform repository persistent transforms as a transform repository message (or within the tracked frame message) to the connected clients if they requested.

2012-08-31 12:23
Tamas Ungi
How would choosing between config files work?
I only thought o

[2017-09-21 17:20] Sunderlandkyl opened #122 "Port linear object registration from Slicer to PLUS"
Implement GUI and linear object algorithm in PLUS

Migrated from https://app.assembla.com/spaces/plus/tickets/787/details

[2017-09-21 17:20] Sunderlandkyl commented on #122
2013-07-02 16:51
Adam Rankin
re #787 adding linear object registration to fCal phantom registration toolbox
Committed to: plus
adding skeleton for linear object registration algorithm

renaming landmark registration method to prevent name collision
In plus:2891

2013-07-03 16:52
Adam Rankin
re #787 fixing linux build
Committed to: plus
In plus:2905

2013-07-04 11:18
Ryan Walsh
Re #787: Fixed crash

[2017-09-21 17:22] Sunderlandkyl opened #123 "Discussion regarding defining device output"
After starting the refactor to remove the SelectedDevice and SelectedChannel concepts, I've run across a piece of code that made me re-think devices.

Why do we define the device output? Isn't the output of the device defined by the device?

For example: In the EpiphanVideoDevice, the InternalConnect used the SelectedChannel concept. However, there should only ever be one output channel for the Ep

[2017-09-21 17:22] Sunderlandkyl commented on #123
2013-12-21 23:24
Andras Lasso
A CreateDefaultOutputChannel method is now added to vtkPlusDevice. Currently it is only used for testing, but it could be a starting point for the simplification of how device output channel are specified.

[2017-09-21 17:22] Sunderlandkyl opened #124 "Implement ascending/descending flip for 3D probes"
Currently only xxA port image orientation is supported. If input is xxD then the image should be flipped around the third axis, but it is not implemented yet.

Migrated from https://app.assembla.com/spaces/plus/tickets/960/details

[2017-09-21 17:23] Sunderlandkyl opened #125 "Support volume reconstruction of color images"
The volume reconstructor works for color images, but the output is hardcoded to be grayscale. Need to make vtkPasteSliceIntoVolume::ResetOutput.configurable.

See discussion here:
https://www.assembla.com/spaces/plus/messages/4964273#comment_4990023

Migrated from https://app.assembla.com/spaces/plus/tickets/977/details

[2017-09-21 17:24] Sunderlandkyl opened #126 "Keep list of references up-to-date"
Maintain the list of Plus-related papers in doc\references.

Migrated from https://app.assembla.com/spaces/plus/tickets/711/details

[2017-09-21 17:24] Sunderlandkyl commented on #126
2013-03-31 13:03
Andras Lasso
Assigned to set to Andras Lasso
(In plus:2632) re #711: Added Najafi2012 to spatial calibration references

2013-03-31 23:41
Andras Lasso
(In plus:2633) re #711: Added Hsu2006a and Hsu2008 to spatial calibration references

2013-04-15 11:36
Andras Lasso
Milestone changed from Release Plus-Future to Continuous activities

2013-06-12 11:46
Andras Lasso
(In plus:2855) re

[2017-09-21 17:31] Sunderlandkyl opened #127 "Add IntersonSDKCxx (Interson SDK 1.X) support."
Add support for the new Interson USB Ultrasound SDK with the C++ wrapper around the C# SDK.

Migrated from https://app.assembla.com/spaces/plus/tickets/892/details

[2017-09-21 17:31] Sunderlandkyl commented on #127
2014-05-26 23:38
Matt McCormick
re #892: Add IntersonSDKCxx BMode support.
Committed to: plus
The vtkIntersonSDKCxxVideoSource is added with B-Mode output along with the
Test.

PlusLib support for IntersonSDKCxx is enabled with the

PLUS_USE_INTERSONSDKCXX_VIDEO

CMake configuration variable.
In plus:3330

2014-05-27 01:07
Matt McCormick
re #892: Add IntersonSDKCxx to PlusDeviceFactory.
Committed

[2017-09-21 17:31] Sunderlandkyl opened #128 "Add colour doppler support to Porta SDK"
PLUS support acquiring color Doppler data (color v/v) using Porta sdk

Migrated from https://app.assembla.com/spaces/plus/tickets/1035/details

[2017-09-21 17:32] Sunderlandkyl opened #129 "Add support for Capistrano Labs probes."
Support for probes from:

http://www.capolabs.com/

Migrated from https://app.assembla.com/spaces/plus/tickets/1007/details

[2017-09-21 17:32] Sunderlandkyl commented on #129
2015-06-23 14:00
Matt McCormick
These are single element, mechanically rocked probes. The drivers need to be obtained from Capistrano Labs, but they agreed that it is fine to write a PLUS interface for them.

2015-06-24 11:38
Matt McCormick
re #1007: Add FindCapistrano.cmake.
Committed to: plus
This allows CMake to locate the Capistrano SDK, obtainable from Capistrano Labs.
In plus:4201

2015-06-2

[2017-09-21 17:33] Sunderlandkyl opened #130 "Automatic pause of image recording"
It would be nice to allow automatic pause/resume of ultrasound image recording.

Recording could be stopped when a transform status becomes invalid for a certain minimal period of time (e.g., ProbeToTracker becomes invalid for 3 seconds; it would be useful for optical tracking) or when a distance becomes too large (e.g., ProbeToReference or ProbeToNeedle transform translation component becomes lar

[2017-09-21 17:33] Sunderlandkyl commented on #130
2016-02-18 17:49
Andras Lasso
It probably makes more sense to implement this at application level. It would make manual override of start/stop recording, definition of a region of interest (outside of which recording would be stopped), and changing of filename prefixes easier.

3D visualization of tracked images and tools, volume reconstruction, registration, start/stop recording, etc. are all alr

[2017-09-21 17:34] Sunderlandkyl opened #131 "Add support for OptiTrack tracking systems"
Add support for OptiTrack motion capture cameras (see http://www.optitrack.com/).

Migrated from https://app.assembla.com/spaces/plus/tickets/1018/details

[2017-09-21 17:35] Sunderlandkyl commented on #131
2015-07-28 10:04
Mikael Brudfors
Assigned to set to Mikael Brudfors
re #1018: Added a folder OptiTrack to DataCollection containing the skeleton class vtkOptiTrackTracker. Performed the necessary adjustments in supporting files in order to add vtkOptiTrackTrac
Committed to: plus
In plus:4225

2015-07-29 10:43
Mikael Brudfors
re #1018: Added contributors.
Committed to: plus
In plus:4229

2015-07-29

[2017-09-21 17:35] Sunderlandkyl opened #132 "Create CMake build option to enable/disable downloading of PlusLib test data."
Separate code checkout and data checkout.

Migrated from https://app.assembla.com/spaces/plus/tickets/804/details

[2017-09-21 17:38] purav70 commented on #83
The Stealthlink DVD contains different folders, 2 of which are relevant. One contains all header files and the other contains .lib and .dll files (include the boost libs). I'll give DependencyWalker a go, and I'll report back what I find. Would it be possible for you to check the release notes on your version of StealthLink to see if it says 2.0.0? That way we can assume someone forgot to change t

[2017-09-21 17:39] Sunderlandkyl opened #133 "Commit change in the repository to trigger automatic build"
This ticket is only used for committing changes to trigger automatic builds.

Migrated from https://app.assembla.com/spaces/plus/tickets/798/details

[2017-09-21 17:40] Sunderlandkyl opened #134 "fCal Lego Phantom 2.0"
Phantom made from LEGO bricks which accommodates a deeper imaging depth. The phantom is a modification of the fCal-L-1.0 and has a similar wiring configuration and the same defined origin.

Migrated from https://app.assembla.com/spaces/plus/tickets/883/details

[2017-09-21 17:41] Sunderlandkyl commented on #134
2014-05-14 10:39
Marie Soehl
re #883: Lego Phantom 2.0 model stl file
Committed to: plus
In plus:3308

2014-05-14 10:40
Marie Soehl
Cad model and config file are complete. The phantom needs to be tested.

2014-05-14 10:41
Marie Soehl
re #883: Config file for Lego Phantom 2.0
Committed to: plus
In plus:3309

2014-05-14 15:47
Marie Soehl
re #883: Files renamed and extra file remove
Committed to: plu

[2017-09-21 17:41] Sunderlandkyl opened #135 "Improve breast surgery fixtures design"
(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/957/details

[2017-09-21 17:42] Sunderlandkyl commented on #135
2015-01-05 20:33
Tamas Ungi
Re #957: Leave a bit more room for the needle in bag.
Committed to: plus
In plus:3908

2015-01-05 20:55
Tamas Ungi
Re #957: Added holes to make printer support material wash out faster.
Committed to: plus
In plus:3909

2015-01-06 12:06
Andras Lasso
re #957: Fixed model catalog build error (NeedleGrabber-SensorBagHolder_1.0.stl file was deleted but still kept in the cata

[2017-09-21 17:43] Sunderlandkyl opened #136 "Allow dynamic change of image clipping rectangle"
Allow changing of image clipping rectangle dynamically, without restarting Plus. See this discussion: https://www.assembla.com/spaces/plus/messages/5076633

Implementation notes: Changing the frame buffer size would be problematic for many reasons, including possible out-of-memory errors when allocating memory for larger images, not being able to save frames of different size into metafiles (image

[2017-09-21 17:43] Sunderlandkyl opened #137 "Move all EM field distortion mapping tool models to model catalog"
SlicerIgtAssembla\EmFieldDist\models

Migrated from https://app.assembla.com/spaces/plus/tickets/1023/details

[2017-09-21 17:44] Sunderlandkyl opened #138 "Update ImagingControls SDK"
Although old drivers still seems to be available (http://www.theimagingsource.com/en_US/support/downloads/details/icwdmv2uprotis/) it would be nice if ImagingControls framegrabbers with latest drivers would work out-of-the-box with Plus. Now users need to use older drivers or build Plus on their own.

Migrated from https://app.assembla.com/spaces/plus/tickets/1052/details

- [x] Download latest SD

[2017-09-21 17:45] Sunderlandkyl opened #139 "Add support for getting tracking information from da Vinci systems"
Add classes similar to CISST IntuitiveDaVinci classes (https://trac.lcsr.jhu.edu/cisst/browser/trunk/saw/components/sawIntuitiveDaVinci/code/mtsIntuitiveDaVinci.cpp) to acquire tracking information from da Vinci surgical systems.

Migrated from https://app.assembla.com/spaces/plus/tickets/916/details

[2017-09-21 17:48] Sunderlandkyl commented on #139
2014-07-24 14:31
Andras Lasso
re #916: Added da Vinci classes
Committed to: plus
Provided by Ricky Singla.
Similar to interface class in CISST (https://trac.lcsr.jhu.edu/cisst/browser/trunk/saw/components/sawIntuitiveDaVinci/code/mtsIntuitiveDaVinci.cpp).
In plus:3534

2014-07-24 14:36
Andras Lasso
re #916: Fixed make file
Committed to: plus
In plus:3535

2014-07-24 14:39
rsingla92
Regarding the c

[2017-09-21 17:49] Sunderlandkyl opened #140 "Use the da Vinci logging functionality"
Currently very little of the da Vinci logging functions are used. The API does provide some logging, and it is able to tell the API to log to a certain file. This will be helpful in debugging and logging messages in addition to what is logged in PLUS.

Migrated from https://app.assembla.com/spaces/plus/tickets/921/details

[2017-09-21 17:49] Sunderlandkyl commented on #140
2014-07-29 13:27
Andras Lasso
If the API provides a way to send log messages to Plus (e.g., through a callback function) then you can write the messages into the Plus log file. If there is no such mechanism then probably the simplest is specify an additional attribute in the device set config file to allow the user to set log file name.

[2017-09-21 17:50] Sunderlandkyl opened #141 "General cleanup of da Vinci related classes"
Currently the code for da Vinci tracker support do not adhere completely to the Plus coding conventions. This includes the use of printf, whitespace, private variables, etc.

This ticket is to clean up code and adhere to the conventions.

Migrated from https://app.assembla.com/spaces/plus/tickets/917/details

[2017-09-21 17:51] Sunderlandkyl commented on #141
2014-07-25 16:49
rsingla92
re #917: Removing printf statements and replacing with LOG macros. Removing unused functions such as saveStreamState.
Committed to: plus
In plus:3550

2014-07-28 22:03
rsingla92
re #916: Reading ip addr, port, and password from config file
Committed to: plus
re #917: Renaming daVinci class to be in line with naming conventions
In plus:3563

[2017-09-21 17:51] Sunderlandkyl opened #142 "Release management"
This ticket is for collecting commits related to release tagging and branching.

Migrated from https://app.assembla.com/spaces/plus/tickets/842/details

[2017-09-21 17:52] Sunderlandkyl commented on #142
2013-12-19 10:10
Andras Lasso
re #842: Updated Plus version to 2.1.1 (the contents is not final yet but set the version identified so that we can start creating release candidate packages)
Committed to: plus
In plus:3077

2014-06-05 18:20
Andras Lasso
re #842: Updated Plus version to 2.1.2
Committed to: plus
In plus:3382

2016-08-15 15:13
Adam Rankin
re #842 Updated Plus version to 2.4.0
Committed

[2017-09-21 17:55] Sunderlandkyl opened #143 "Review install of PLUS is fully functional"
As per message, instigate a review of PLUS install.

https://app.assembla.com/spaces/plus/messages/5692383

Migrated from https://app.assembla.com/spaces/plus/tickets/1119/details

[2017-09-21 17:55] Sunderlandkyl commented on #143
2016-11-01 11:12
Andras Lasso
Using a pre-built Plus library will only be successful if the application is built with the exactly same compiler and build settings as Plus. It is only feasible on the same computer or in a computer lab where all computer is set up from the same disk image. I'm not sure how frequent this use case is, but if it does not add much complexity to the build/install scripts

[2017-09-21 17:55] Sunderlandkyl opened #144 "Environment variable in tesseract system are not properly picked up on OSX"
Currently it is stored in .xsessionrc, which may not be used by OSX.

Identify a mechanism which works under OSX and implement

Migrated from https://app.assembla.com/spaces/plus/tickets/1100/details

[2017-09-21 17:56] Sunderlandkyl opened #145 "Implement a device interface for the Quadro SDI capture system"
Implementation must allow for in-GPU memory only (local capture use) via function pointer hooks/callbacks

Migrated from https://app.assembla.com/spaces/plus/tickets/1099/details

[2017-09-21 17:57] Sunderlandkyl commented on #145
2016-09-13 09:36
Adam Rankin
re #1099 resuming work on Nvidia DVP device
Committed to: plus
In plus:4859

2016-09-13 17:10
Adam Rankin
re #1099 Significant implementation towards NVidiaDVP device
Committed to: plus
Separating Win32 and Linux implementation

Incorporating NVidia utility code for SDI capture/output
In plus:4863

2016-09-14 11:13
Adam Rankin
re #1099 Correcting error in XML string ma

[2017-09-21 17:59] Sunderlandkyl opened #146 "Add ability to request hardware source(s) of PlusServer broadcast channel"
Client applications need to know which hardware devices produced the data available on any given channel.

Migrated from https://app.assembla.com/spaces/plus/tickets/1139/details

[2017-09-21 17:59] Sunderlandkyl commented on #146
2017-01-10 17:11
Adam Rankin
Status changed from New to Test
test #1139 adding additional request ID commands to enable more detailed querying of devices
Committed to: plus
In plus:5018

[2017-09-21 18:01] Sunderlandkyl opened #147 "Add support for data acquisition from VRPN connection"
VRPN (https://github.com/vrpn/vrpn/wiki) supports devices that some users would like to use, such as the PhantomOmni.

Migrated from https://app.assembla.com/spaces/plus/tickets/1051/details

[2017-09-21 18:02] Sunderlandkyl commented on #147
2016-07-13 12:54
Adam Rankin
With the increased popularity of VR/AR devices, I am bumping this up to 2.4

[2017-09-21 18:03] Sunderlandkyl opened #148 "Enable rotation of Epiphan stream"
As per discussion from [this message](https://app.assembla.com/spaces/plus/messages/5677283), rotation of the incoming Epiphan stream is desired.

Migrated from https://app.assembla.com/spaces/plus/tickets/1116/details

[2017-09-21 18:03] Sunderlandkyl commented on #148
2016-10-15 18:42
Adam Rankin
re #1116 Adding interface targets to PlusLib for convenient access to interface library headers
Committed to: plus
In plus:4910

2016-10-15 19:24
Adam Rankin
test #1116 Adding rotation and scaling parametsrs to the Epiphan capture device
Committed to: plus
In plus:4911

2016-10-15 19:35
Adam Rankin
re #1116 Cleaned up header file, removed useless if statement
Committed

[2017-09-21 18:04] Sunderlandkyl opened #149 "Enable on-demand creation of capture device from given channelId"
Add the ability for the startstop recording command to create a capture device on demand and link it to the requested channel.

Migrated from https://app.assembla.com/spaces/plus/tickets/1142/details

[2017-09-21 18:04] Sunderlandkyl commented on #149
2017-01-16 11:38
Adam Rankin
test #1142 When a ChannelId attribute is specified in a Start/Stop recording command, a capture device for that channel is either found or created
Committed to: plus
In plus:5024

2017-01-16 11:49
Adam Rankin
re #1142 code cleanup
Committed to: plus
In plus:5025

2017-01-16 12:02
Andras Lasso
A fundamental concept in Plus is that the pipeline is static. It makes code m

[2017-09-21 18:05] Sunderlandkyl opened #150 "Create printable markers compatible with Medronic Stealth Station"
(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1189/details

[2017-09-21 18:05] Sunderlandkyl commented on #150
2017-05-09 11:01
Tamas Ungi
Re #1189: One tool added.
Committed to: plus
In plus:5073

[2017-09-21 18:06] Sunderlandkyl opened #151 "VolumeReconstructor ignores OutputExtent and OutputOrigin"
SetOutputExtentFromFrameList is called regardless of whether OutputExtent and OutputOrigin were specified in the configuration file. If this call is skipped manually during debugging, this error occurs:
[code]
This prevents setting custom output extent to skip unwanted part of volume from being reconstructed, e.g. for quicker debugging (breakpoints with conditions slow down execution speed excruci

[2017-09-21 18:07] Sunderlandkyl commented on #151
2017-02-12 13:09
Andras Lasso
Can you describe what class you are referring to? We specify custom output origin, spacing, and extent in Plus Remote and it works fine.

2017-05-11 10:46
Dzenan Zukic
I am talking about volume reconstructor executable, which in turn invokes vtkPlusVolumeReconstructor. VolumeReconstructor.cxx, line 175:
[code]
obliterates OutputOrigin and OutputExtent settings provide

[2017-09-21 18:07] #151 closed

[2017-09-21 18:07] Sunderlandkyl commented on #151
Should be in PlusApp

[2017-09-21 18:11] Sunderlandkyl opened #152 "Create command line tool to process US image sequence mha file"
(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1198/details

[2017-09-21 18:11] Sunderlandkyl commented on #152
2017-05-16 10:32
Adam Rankin
Although I'm sure @lassoan is guiding you, just a heads up that EditSequenceFile exists (see PlusLib/Tools/EditSequenceFile).

2017-05-16 11:10
Ben Church
Thanks for the pointer @rankin It looks like we will still have a use for the tool I wrote for vtk image filter operations we are experimenting with, at least for now. There may be some redundancy, or a way to use Ed

[2017-09-21 18:12] Sunderlandkyl opened #153 "Create clip-on fixture for Telemed ultrasound probes"
(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1183/details

[2017-09-21 18:12] Sunderlandkyl commented on #153
2017-04-27 14:19
Tamas Ungi
Re #1183: Added initial model
Committed to: plus
In plus:5071

2017-04-27 14:51
Tamas Ungi
Re #1183: Made brace thicker and tighter
Committed to: plus
In plus:5072

2017-05-14 20:27
Tamas Ungi
Re #1183: Part added for L12 probe
Committed to: plus
In plus:5075

2017-05-14 22:24
Tamas Ungi
Re #1183: First version sent for printing
Committed to: plus
In plus:5076

2017-05-

[2017-09-21 18:13] Sunderlandkyl opened #154 "Update the BK scanner interface"
- Make PlusServer compile with BK scanner interface
- Get doppler video, allow streaming of color video to make this work
- Get ultrasound sector information from the scanner
- Send ultrasound sector information with OpenIGTLinkIO

I have forked PlusLib on https://github.com/SINTEFMedtek/PlusLib

Migrated from https://app.assembla.com/spaces/plus/tickets/1149/details

[2017-09-21 18:13] Sunderlandkyl commented on #154
2017-01-27 10:24
Adam Rankin
Hi Ole!

When did you fork the pluslib repo? The reason I ask is I had to destroy and recreate it to proprely import the branches.

If you did it a while ago, you'll have to re-clone the repo, and copy over the files (excluding .git folder) from the old clone to the new clone.

Apologies!

2017-01-27 10:25
Adam Rankin
I see it was 4 hours ago, that should be fine!

201

[2017-09-21 18:14] Sunderlandkyl opened #155 "Review of existing marker tracking toolkits"
It has to be BSD-like, mono optical, preferred: use surface scan data.

Interfacing OpenCV or ArUco for tracking:

ArUco: http://www.uco.es/investiga/grupos/ava/node/26
http://docs.opencv.org/3.1.0/d5/dae/tutorial_aruco_detection.html

ARMA: https://sites.google.com/site/georgeevangelidis/arma - license only for academic use
ARToolkit+: obsolete, replaced by stbtracker
Stbtracker: http://studierst

[2017-09-21 18:15] Sunderlandkyl opened #156 "Add an option to not consider missing frames as error if ultrasound system is frozen"
On Ultrasonix systems the operator may freeze the acquisition on the ultrasound and then Plus does not receive any new images. This may be an error in some cases (when the operator is not expected to freeze the images at any time) or a normal scenario. Error should only be logged if freezing is unexpected. See details at: https://www.assembla.com/spaces/plus/messages/5400753

Possible fix: Add an

[2017-09-21 18:15] Sunderlandkyl commented on #156
2016-12-16 11:48
Adam Rankin
It would be ideal if this system was implemented in the usdevice base class, so that any US device could implement the necessary IsFrozen() query.

[2017-09-21 18:18] Sunderlandkyl opened #157 "Use SolidWorks instead of Solid Edge for CAD"
(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/990/details

[2017-09-21 18:18] Sunderlandkyl commented on #157
2015-05-02 19:48
Tamas Ungi
Re #990: New candy cane stylus.
Committed to: plus
In plus:4125

2015-05-06 12:06
Tamas Ungi
Re #990: Adding peg for Polaris reflective balls.
Committed to: plus
In plus:4128

2015-06-08 18:05
Tamas Ungi
Re #990: WIP leaner needle clip.
Committed to: plus
In plus:4184

2015-06-08 22:03
Tamas Ungi
Re #990: Needle clip in SW 2015 format. Image added for printer orientatio

[2017-09-21 18:19] Sunderlandkyl opened #158 "Add support for OptiTrack hardware"
Adding support for OptiTrack V120:Duo and Prime 17W cameras.

Migrated from https://app.assembla.com/spaces/plus/tickets/1208/details

[2017-09-21 18:19] Sunderlandkyl commented on #158
2017-07-12 10:55
Mark Asselin
re #1208: Updated config to work with NatNet SDK based OptiTrack device.
Committed to: plus
In plus:5107

2017-07-12 12:15
Andras Lasso
re #1208: Replaced legacy OptiTrack device (used retired TrackingTools) with one using NatNet SDK.

Branch: master
Commit: plus:0e0e4fc696

2017-07-12 12:15
Andras Lasso
Re #1208: Adding basic tracking functionality

Branch: master
Co

[2017-09-21 18:20] Sunderlandkyl opened #159 "Add device that uses ArUco marker tracking library"
- Use latest official git
- Upload our hack to https://github.com/PlusToolkit/ArUco
- Send a pull request to official version on SourceForge, see what happens (they merge as is, ignore, implement a nice solution instead, ...)
- Add aruco build to PlusBuild
- Add device vtkPlusOpticalMarkerTracker that uses ArUco library

Migrated from https://app.assembla.com/spaces/plus/tickets/1196/details

[2017-09-21 18:21] Sunderlandkyl commented on #159
2017-05-15 12:42
Andras Lasso
Use vtkPlusIntelRealSenseTracker as an example (clone and modify). vtkPlusImageProcessorVideoSource is an example how to use another device's output as input.

2017-05-15 14:34
Adam Rankin
Let me know if I can help. I'd like this.

ArUco is in the SVN/git history (not sure which one).

What's your hack?

2017-05-15 16:03
Andras Lasso
The problem is that .lib and .dll

[2017-09-21 18:23] adamrankin commented on #83
Ours doesn't have any release files, just the .lib, .dll and .h files.

[2017-09-21 18:26] Sunderlandkyl opened #160 "Latest PLUS cannot connect to Interson probe"
I am using the Interson USB ultrasound probe (GV 5.0). I cannot connect to the the probe using the latest. Both the stable release PlusApp-2.4.0.5112-Interson-MTC-3.7-Win32 and the nightly PlusApp-2.5.0.20170722-Interson-MTC-3.7-Win32 exhibit this behaviour.

Note that I can successfully connect using an older version of PLUS: PlusApp-2.2.0.4177-Interson-MTC-3.6-Win32.

I am using the standard con

[2017-09-21 18:27] Sunderlandkyl commented on #160
[PlusDeviceSet_Server_IntersonVideoCapture.xml.txt](https://github.com/PlusToolkit/PlusLib/files/1322333/PlusDeviceSet_Server_IntersonVideoCapture.xml.txt)

[2017-09-21 18:28] Sunderlandkyl opened #161 "32->64 volume reconstruction is empty in Slicer"
With example setup (saved data)

PlusDeviceSet_Server_Sim_NwirePhantomTrackedFrameProcessing.xml
PlusDeviceSet_Server_Sim_NwirePhantomTrackedFrameAcquisition.xml

scout scan produces data, live volume reconstruction does not

Migrated from https://app.assembla.com/spaces/plus/tickets/1225/details

[2017-09-21 18:28] Sunderlandkyl commented on #161
2017-08-18 15:34
ppandey
What are the results with offline reconstruction on saved data?

2017-08-21 12:32
ppandey
Origin (placement) of reconstructed volume is incorrect and physical dimensions of the reconstruction seems to be incorrectly dependant on the output spacing parameter when testing offline reconstruction.

[2017-09-21 18:29] Sunderlandkyl opened #162 "Improve documentation"
This is a ticket to collect all commits related to documentation improvements

Migrated from https://app.assembla.com/spaces/plus/tickets/712/details

[2017-09-21 18:29] Sunderlandkyl commented on #162
2013-04-01 20:36
Andras Lasso
Assigned to set to Andras Lasso
(In plus:2634) re #712: Improved calibration phantom descriptions (added images of phantoms, updated tutorial)

2013-04-15 11:35
Andras Lasso
(In plus:2691) re #712: Added Plus and SlicerIGT slides presented at NCIGT2013 workshop

2013-04-15 11:36
Andras Lasso
Milestone changed from Release Plus-Future to Continuous activities

2013-05-

[2017-09-21 18:30] Sunderlandkyl opened #163 "AcquisitionRate is not updated in vtkPlusSavedDataSource when UseOriginalTimestamps="TRUE""
AcquisitionRate remains 10, leading fCal to believe that the fastest it can record frames is 10FPS.

This should be updated to reflect the actual FPS of the original timestamps.

Migrated from https://app.assembla.com/spaces/plus/tickets/1227/details

[2017-09-21 18:31] Sunderlandkyl opened #164 "fCal records frames at 10fps, but device is running at 27fps"
Ultrasonix, 9cm, 27Hz reported on console

Migrated from https://app.assembla.com/spaces/plus/tickets/1226/details

[2017-09-21 18:31] Sunderlandkyl commented on #164
2017-08-26 11:11
Adam Rankin
re #1226 applying astyle formatting to SonixVideo/vtkPlusSonixVideoSource.cxx

Branch: master
Commit: plus:a5676e21ed

2017-08-26 12:34
Adam Rankin
Assigned to changed from Adam Rankin to -none-

2017-08-28 12:36
Adam Rankin
https://github.com/PlusToolkit/PlusLib/blob/master/src/PlusDataCollection/SonixVideo/vtkPlusSonixVideoSource.cxx#L136

This function is being call

[2017-09-21 18:32] Sunderlandkyl opened #165 "Add request model by name command"
(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1138/details

[2017-09-21 18:32] Sunderlandkyl commented on #165
2017-01-10 13:50
Adam Rankin
test #1138 Adding handling of GET_POLYDATA message
Committed to: plus
In plus:5015

2017-07-16 10:03
Adam Rankin
re #1138 converting from GET_POLYDATA v2 style query to Plus style command query

Branch: master
Commit: plus:054fe2148d

2017-07-16 10:05
Adam Rankin
re #1213 adding first pass implementation of RTSP video device

currently crashes when trying to write fram

[2017-09-21 18:33] Sunderlandkyl opened #166 "Add automatic tests for OpenIGTLink tracker with TDATA input"
To make sure Plus works correctly with BrainLab. The BrainLabTrackerSim tool can be used as the server.

Migrated from https://app.assembla.com/spaces/plus/tickets/839/details

[2017-09-21 18:34] Sunderlandkyl commented on #166
2017-08-18 14:54
Adam Rankin
re #839 Adding config files for TDATA test
Committed to: plus
In plus:5118

2017-08-18 14:55
Adam Rankin
test #839 openigtlink tracker device not properly requested tdata tracking start due to incorrect order of client info and starttdata messages

test added for tdata tracking

transformName parsing added to determine if a brainlab or a plus style transform name was s

[2017-09-21 18:35] Sunderlandkyl opened #167 "Support for NDI Polaris broken in Plus-2.5"
(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1221/details

[2017-09-21 18:36] Sunderlandkyl commented on #167
2017-08-09 10:28
Adam Rankin
Can you be more specific? Which device? Which firmware?

2017-08-09 10:28
Adam Rankin
And are you sure you're on the latest ndicapi?

2017-08-09 10:29
Mark Asselin
@rankin I tried connecting to our Polaris Spectra using the latest nightly again this morning, both with and without specifying the COM port # in my config file. To no avail. I can connect to the tracker usi

[2017-09-21 18:37] Sunderlandkyl opened #168 "Add OpenIGTLink commands for changing ultrasound imaging parameters"
Allow setting of the imaging parameters through OpenIGTLink.
Make it work for Interson first, but keep in mind that it should work for Ultrasonix and BK, too.

Also add a simple scripted Slicer module to change the imaging parameters from Slicer.

Migrated from https://app.assembla.com/spaces/plus/tickets/867/details

[2017-09-21 18:38] Sunderlandkyl commented on #168
2014-11-27 11:42
Adam Rankin
re #867 creating branch to experiment in
Committed to: plus
In plus:3862

2014-11-27 11:44
Adam Rankin
re #867 checking out correct pluslib and plusapp for branch
Committed to: plus
In plus:3863

2014-11-27 11:45
Adam Rankin
Hmm, commiting auto-assigns it. I am still experimenting!

2014-11-28 09:00
Adam Rankin
re #867 experimental imaging parameters and making sonix u

[2017-09-21 18:38] Sunderlandkyl opened #169 "Add support for compressed video transfer through OpenIGTLink"
Imaging speed could be improved by using video compression methods.
Some support has been already added in OpenIGTLink and OpenIGTLinkIO.

https://na-mic.org/wiki/Project_Week_25/Tracked-Ultrasound-Standardization-IV

Migrated from https://app.assembla.com/spaces/plus/tickets/1228/details

-----

TODO:
- [x] Add ability to specify compression level in the config file

[2017-09-21 18:39] Sunderlandkyl opened #170 "Use Motive API instead of NatNet SDK for OptiTrack support"
Using the Motive API allows us to track rigid bodies with OptiTrack tracking systems without having to run the Motive GUI application.

Migrated from https://app.assembla.com/spaces/plus/tickets/1229/details

[2017-09-21 18:39] Sunderlandkyl commented on #170
2017-09-05 16:34
Zac Baum
re #1229: Updated config files to reflect OptiTrack changeover to Motive API
Committed to: plus
In plus:5123

[2017-09-21 18:40] Sunderlandkyl opened #171 "add RigidBodyAddFromFile() function from the ndi oapi"
similar to how RigidBodyAddFromDeviceHandle is being used currently.

Migrated from https://app.assembla.com/spaces/plus/tickets/1230/details

[2017-09-21 18:41] Sunderlandkyl opened #172 "Create PLUS device to enhance spinal ultrasound images and detect bone surfaces"
(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1108/details

[2017-09-21 18:41] Sunderlandkyl commented on #172
2016-08-23 09:58
Ben Church
re #1108 Added vtkPlusTransverseProcessEnhancer device which currently just performs a vtkImageGaussianSmooth on the input ultrasound image. Added config file for this device and modified vtkP
Committed to: plus
In plus:4823

2016-08-25 12:48
Ben Church
re #1108: Added threshold operation to image processing pipeline. Image processor now reads more parameters from confi

[2017-09-21 18:42] purav70 commented on #83
I ran Dependency Walker but didn't find the boost libraries to be a dependency. I do get an unnerving number of errors however:
![image](https://user-images.githubusercontent.com/25391951/30712586-808bf44c-9eda-11e7-8ff3-b04a2f9b0aa8.png)

It's interesting that your copy has different contents. It may be worth calling Medtronic to see if they have an answer. Also, I'm using qt5.5, I'm not sure if

[2017-09-21 18:43] Sunderlandkyl opened #173 "Repository management"
Tasks relating to repository management.

Migrated from https://app.assembla.com/spaces/plus/tickets/1059/details

[2017-09-21 18:43] Sunderlandkyl commented on #173
2016-01-11 13:02
Adam Rankin
re #1059 Deleting nrrd branch now that it is complete
Committed to: plus
In plus:4430

2016-01-11 13:02
Adam Rankin
re #1059 removing biplane branch now that built-in clipping is integrated
Committed to: plus
In plus:4431

2016-01-11 13:02
Adam Rankin
re #1059 removing 3dsupport branch now that trunk has shown stable 3d capabilities
Committed to: plus
In plus:4432

201

[2017-09-21 18:45] Sunderlandkyl opened #174 "Add a new tracker device to support multiple US digital A2 encoders"
Add a new tracker device (vtkUSDigitalA2EncodersTracker) to support multiple US digital A2 encoders in vtkDataCollection.

Here is the design goal of the new tracker device:
1) Communication with multiple encoders (US Digital A2 type) with SEI interface.
2) Acquire encoder values from multiple connected encoders.
3) Combine acquired encoder values and generate one representative transformation mat

[2017-09-21 18:45] Sunderlandkyl commented on #174
2016-01-14 13:05
Adam Rankin
US digital provides documentation of the protocol, but do they offer an implementation to abstract away the details?

protocol link

2016-01-14 13:06
Adam Rankin
Found it:

software

2016-01-14 13:08
Adam Rankin
Minor comment, I would recommend a more flexible name since the software API supports the A2, A2K, A2T and HD25A encoders.

Perhaps

vtkUSDigitalEncoderSEITrac

[2017-09-21 19:04] lassoan commented on #83
The errors that you see are normal. Dependency walker was developed before side-by-side assemblies existed and while the tool may be used to find some leads, you cannot fully rely on it.

Here are the MD5 sums for our files:
12cfa689a08928144d9222e77c04b827 *Debug\StealthLink.dll
45cc9a3df1f0fb498b26e1eedb340f5c *Debug\StealthLink.lib
11d34d0e3dd2f1e61044e8945a678c53 *Debug\StealthLink.pdb
5c73a1e

[2017-09-21 19:40] purav70 commented on #83
The MD5 hashes for my files do not match the ones you put up. I believe I'm using only the /MD runtime library for the builds (I'm assuming that's the one you used as well).

When you say linking StealthLink_static.lib instead of StealthLink.lib, do you mean in cmake, for the flags that ask for the static/shared library? (As in, should I be linking shared libraries for both flags, or static librar

[2017-09-21 20:19] purav70 commented on #83
I rechecked the MD5 hashes and they match my 32 bit hashes. Did you build on a 32 bit system?

[2017-09-22 21:40] ssamira commented on #161
Hello,

I have the same problem. The live volume reconstruction is empty in our case too.
Following the ticket.

[2017-09-23 06:11] prash-p commented on #130
@lassoan could you explain how to manually pause/resume recording with SlicerIGT - as you mentioned above? Also how to modify PlusRemote with python to implement automatic pausing/resuming?

[2017-09-24 15:29] lassoan commented on #130
Install 3D Slicer and SlicerIGT extension.

PlusRemote module is a Python scripted module that you can find in the directory listed in Slicer Application settings / Modules / Additional module paths. Just read the code a couple of times, maybe use a Python debugger (https://www.slicer.org/wiki/Documentation/Nightly/Extensions/Debugging tools) to step through the code that runs when you click a but

[2017-09-25 15:11] dzenanz commented on #90
I remember assuming that any probe orientation would work because the pattern was asymmetrical, leading, of course, to trouble and hair pulling :smile:

[2017-09-25 17:13] adamrankin opened #176 "PlusServer documentation should be shorter to find from the home page"
As it stands, there are several clicks in moderately intuitive places (not bad, but great) to get to PlusServer documentation, which is arguably the most used aspect of Plus.

Perhaps we could optimize the layout to push PlusServer to the forefront?

[2017-09-25 17:20] adamrankin opened #177 "GetPolydata command does not adhere to conventions"
Name is not correct and attribute case is incorrect

[2017-09-25 18:08] lassoan commented on #176
It's 3 clicks: PlusToolkit.org -> User's Guide -> User manual -> Configuration

Should we open the User manual directly from PlusToolkit.org frontpage (PlusToolkit.org -> User manual -> Configuration)?

[2017-09-25 18:29] adamrankin commented on #176
User manual -> Tools -> PlusServer application (1/2 way down list)

User guide and user manual should be the same page, and user manual page should be reworked to provide direct links to the most common user needs. Tabs across the top are good, but from the user perspective, task prioritized layout would be more intuitive.

PlusServer should be a link right from User guide/user manual page.

In th

[2017-09-25 20:25] dzenanz commented on #174
Should this issue be closed? This is already implemented, and we should be able to reference a closed issue from future pull requests, right?

[2017-09-26 03:01] #174 closed

[2017-09-26 15:34] lassoan commented on #159
@Sunderlandkyl Please test if you can set up marker tracking with your webcam based on documentation in user manual and the most recent nightly Plus package.

[2017-09-26 15:44] lassoan commented on #167
There have been no issues reported recently, so probably it works well now.

[2017-09-26 15:44] #167 closed

[2017-09-26 15:45] lassoan commented on #164
Most likely it is not a regression, so we will not address in the upcoming stable release

[2017-09-26 15:46] adamrankin commented on #164
Device was indeed running at 10fps, but ultrasonix console was misrepresenting actual update rate.

[2017-09-26 15:46] #164 closed

[2017-09-26 15:49] lassoan commented on #158
Remaining tasks are tracked in #170

[2017-09-26 15:49] #158 closed

[2017-09-26 16:00] #153 closed

[2017-09-26 16:01] #150 closed

[2017-09-26 16:01] #137 closed

[2017-09-26 16:13] jamesobutler opened #180 "Enable true absolute encoder functionality to USDigitalEncodersTracker"
The [USDigitalEncodersTracker.h](https://github.com/PlusToolkit/PlusLib/blob/2a89e14be2910d61dc18cdb2598a116012b85fdc/src/PlusDataCollection/USDigitalEncodersTracking/vtkPlusUSDigitalEncodersTracker.h#L18-L20) says it is an

These are all absolute encoders, but it appears within the USDigitalEncodersTracker that the "absoluteness" isn't really being used.  [Here](https://github.com/PlusToolkit/Plu

[2017-09-26 17:14] dzenanz commented on #180
I have noticed resetting the encoders to zero in code, but I though it was done because you wanted it. I can easily remove it if you want.

[2017-09-26 17:36] jamesobutler commented on #180
Yeah go ahead and remove it.  I think Hyun Jae originally put it in there when the class was created. Unsure what was the original reasoning.

[2017-09-26 18:46] #180 closed

[2017-09-26 21:32] markasselin opened #183 "Implement sensor fusion in OpticalMarkerTracker"
Use unscented Kalman filter to fuse data from optical and depth sensors of the Intel RealSense cameras.

[2017-09-26 21:39] markasselin commented on #159
@Sunderlandkyl Please let me know if there is anything unclear in the docs - I will update them promptly!

[2017-09-27 14:04] Sunderlandkyl commented on #161
@lassoan I'm having trouble reproducing this. Would you mind giving me a hand?

[2017-09-27 14:16] adamrankin commented on #161
If you're willing to work on this, this is definitely a use case that could use an automated test.

[2017-09-27 14:47] Sunderlandkyl commented on #159
@markasselin The first thing that I've found is that the files that were hosted on Assembla are no longer accessible from the docs. (I guess the Assembla repo was shut down today)

[2017-09-27 14:49] Sunderlandkyl commented on #161
Sure, that sounds like a good idea.

[2017-09-27 14:58] markasselin commented on #159
@sunderlandkyl Where is a good place on the new Perk github repos for me to move these to?

[2017-09-27 15:22] Sunderlandkyl commented on #159
@markasselin Maybe [PlusDoc](https://github.com/PlusToolkit/PlusDoc)? We should probably check with Andras. @lassoan

[2017-09-27 16:30] Sunderlandkyl commented on #159
@markasselin Actually, I think that most of the files are already located in https://github.com/PlusToolkit/PlusLibData/tree/master/ConfigFiles/OpticalMarkerTracker

[2017-09-27 17:37] Sunderlandkyl commented on #161
@ssamira I wasn't able to replicate this issue on the latest nightly build of slicer and plus, using a 32-bit build of plus for the acquisition server, and a 64-bit build for the processing server.

Can you provide more information on what versions of Slicer and Plus you were using, as well as the exact setup?

[2017-09-27 20:41] Sunderlandkyl commented on #138
@lassoan I've built Plus using the latest version of the Imaging Control SDK. (https://www.theimagingsource.com/support/downloads-for-windows/software-development-kits-sdks/icimagingcontrol/)

It didn't require any changes to PlusBuild, so I'll just update the SDK files in PLTools.

[2017-09-27 20:45] lassoan commented on #138
Perfect!

[2017-09-27 21:03] lassoan commented on #159
If there is no reason to do otherwise, the marker and config files should be in PlusLibData repository.

[2017-09-28 16:20] adamrankin opened #184 "Config file location depends on Visual Studio/Windows launch"
When PlusServer is launched from visual studio (in debug, haven't tested release) ndi tool definitions are loaded as
`RomFile="NdiToolDefinitions/8700248.rom"`

When launched from PlusServerLauncher, ndi tool definitions must be loaded as
`RomFile="../NdiToolDefinitions/8700248.rom"`

[2017-09-28 16:29] lassoan commented on #184
Location of configuration data files are specified relative to the Plus configuration file location. So, it should not matter what is the working directory. Maybe RomFile location is not properly determined using PlusConfig but the relative path is passed to ndicapi?

[2017-09-28 16:40] adamrankin commented on #184
Location of config files is set to absolute path relative to cloned folder ${PLUS_PLUSLIBDATA_DIR} in build configuration, not sure about installed package configuration.

Regardless, DeviceSetConfigurationDirectory is changed when a new config file folder is selected via PlusServerLauncher.

`  DeviceSetConfigurationDirectory="C:/d/PB-x86/PlusLibData/ConfigFiles/Robarts"`

This makes the Ndi tool

[2017-09-28 16:41] adamrankin commented on #184
Perhaps we should have a separate "Data" folder which can hold Markers, NdiToolDefinitions, etc... everything that isn't actually a config file.

[2017-09-28 19:33] lassoan commented on #184
Data files that are referenced in a config file should be specified relative to the actual config file location (does not matter what the config files directory setting is). Is this the behavior that you see? If not then it's a bug.

[2017-09-28 19:48] adamrankin commented on #184
Ah, no this is not the behaviour. Files are referenced relative to the DeviceSetConfigurationDirectory from the PlusConfig.xml

This is assumed to be the same as there is usually a GUI that sets them in parallel, but when launching from Visual Studio, that is not the case.

[2017-09-28 20:07] lassoan commented on #184
OK. I've checked the code and found that vtkPlusConfig::FindImagePath and vtkPlusConfig::FindModelPath searches for files relative to the device set configuration file (and later they look into image and model directories and DeviceSetConfigurationDirectory).

When a device looks for calibration files, tool files, etc. then a similar function should be used. Maybe it could be called vtkPlusConfig:

[2017-09-28 20:07] #138 closed

[2017-09-28 23:28] ssamira commented on #161
@Sunderlandkyl, this is what I am doing:
I am running the latest version of PLUS (2.4.0.5123-Ultrasonix-57-Win32) on a sonix touch machine.
On the other machine, I run Slicer. I set up an OpenIGTLink and use the OpenIGTLinkRemote to StartVolumeReconstruction and GetVolumeReconstructionSnapshot using below commands:
<Command Name="StartVolumeReconstruction" VolumeReconstructorDeviceId="VolumeRecons

[2017-09-29 00:58] lassoan commented on #161
Please try the latest development snapshot and let us know if it works.

[2017-09-29 13:53] lassoan opened #188 "Use typedef for image size"
Using std::vector<int> for image size type is too verbose and error-prone (dynamic, while it should be always 3). Typedef to std::array<type, size> should be good.

Also, we should use it everywhere consistently instead (many places we still use int[3]).

[2017-09-29 14:12] #160 closed

[2017-09-29 14:18] adamrankin commented on #184
I was going to work on this today, do you want it in before or after release?

[2017-09-29 14:40] lassoan opened #189 "Use PlusLib or PlusApp modification date in PlusApp package name"
If only PlusLib is changed, then date in PlusApp package name (PlusApp-2.5.0.20170918-Telemed-Win32.exe) is not updated, which is quite confusing.

Problem is that in CPackConfig.cmake PLUSAPP_COMMIT_DATE_NO_DASHES variable is used for constructing the package name:

    SET(CPACK_PACKAGE_FILE_NAME "PlusApp-${CPACK_PACKAGE_VERSION_MAJOR}.${CPACK_PACKAGE_VERSION_MINOR}.${CPACK_PACKAGE_VERSION_PATCH

[2017-09-29 14:43] adamrankin commented on #189
My vote would be pass date from pluslib to plusapp. PlusApp requires PlusLib, so that dependency is always reliable.

Perhaps it should be the higher of the two modification dates?

[2017-09-29 14:44] lassoan commented on #189
Yes, I meant computing the higher of the two modification dates.

[2017-09-29 14:46] lassoan commented on #177
@adamrankin It seems that we'll be ready for a new stable version within a week (depending on what we decide to include from OptiTrack developments). Do you think you can close this issue by then or can this be postponed to be fixed after the stable release?

[2017-09-29 14:46] lassoan commented on #165
@adamrankin It seems that we'll be ready for a new stable version within a week (depending on what we decide to include from OptiTrack developments). Do you think you can close this issue by then or can this be postponed to be fixed after the stable release?

[2017-09-29 14:46] adamrankin commented on #177
It will be closed by release. I am fixing up some client side code for server drops, then I will be testing it.

[2017-09-29 14:48] adamrankin commented on #165
Yes, in fact this is a duplicate of GetPolydata issue.

[2017-09-29 14:48] #165 closed

[2017-09-29 15:02] lassoan commented on #79
@Sunderlandkyl Can you confirm that volume reconstruction works well now (live 2D frames, scout scan, live 3D reconstruction are all well aligned)?

[2017-09-29 15:13] lassoan commented on #184
Maybe the best would be to implement this on a separate branch (Plus-2.7) to avoid the chance of regressions.

[2017-09-29 15:17] lassoan commented on #184
As a second thought... it would be better to have similar directory structure for both the stable and master version. It would make it easier to backport patches, etc. We'll have to be careful and thoroughly test things.

[2017-09-29 17:55] adamrankin commented on #184
I don't know how I feel about separating files by size. I know that's a practical consideration, but it seems unwieldy from an organizational perspective.

I'd keep files arranged by type (image/model/config/data folders). Keep PlusLibData (rename to just PlusData?)

What I think does need to happen is that all data files are stored relative to the parent data folder (as it is now), and the code a

[2017-09-29 20:14] Sunderlandkyl commented on #79
I've tested it on the fCal phantom scan replay, and it looks good to me.

[2017-09-29 21:27] #177 closed

[2017-09-29 21:28] adamrankin commented on #166
This has been completed.

[2017-09-29 21:28] #166 closed

[2017-09-29 22:30] lassoan commented on #79
@Sunderlandkyl thanks for testing. Closing this issue then.

[2017-09-29 22:30] #79 closed

[2017-09-30 04:14] lassoan commented on #184
What to implement in the source code is quite clear: have a generic FindDataFile method that looks at many places. Current behavior is almost correct, it should start relative to the config file (that way we can always relocate the config file and all related data files anywhere, we just have to move them together), then predefined directories, current working directory, executable's directory, et

[2017-10-02 13:18] lassoan commented on #154
Integrated new BK OEM interface (#75).

[2017-10-02 13:18] #154 closed

[2017-10-02 13:51] adamrankin commented on #184
My comprehensive date has been set. Let's push this back until after release. It's not game breaking as the installed package works when operating under "normal" conditions.

[2017-10-02 13:53] #189 closed

[2017-10-02 14:09] lassoan opened #192 "Test Plus before releasing new stable version"
Double-check that all main features of Plus work before releasing stable build. See the "test plan" below. It would be nice to add more details (what config file was used, etc) as the test is performed. The test report would be used as a template for testing the next stable release (probably it would make sense to add to the PlusLib or PlusApp repository).

------

- [x] Green dashboard (no build

[2017-10-02 15:36] adamrankin opened #194 "PlusTranverseProcessor test data doesn't exist"
The test is looking for a data file that doesn't exist.

It seems like it may have been a missed file during a commit?

[2017-10-02 16:35] lassoan commented on #194
@cpinter Could you please check this with Bryan? Thanks!

[2017-10-03 13:45] lassoan opened #196 "Support multiple tracking tools in StealthLink"
There are some limitations in what tools can be tracked simultaneously by StealthStation, but all tools should be accessible through StealthLink:

[2017-10-03 14:02] lassoan commented on #196
You can use TESLA to build a Plus package with StealthLink support. The build tree is here: d:\D\PTNPSLb

[2017-10-03 15:36] jamesobutler commented on #192
The group I work with has hardware for Capistrano(3rd party SDK required), USDigitalEncoders, and WinProbe(3rd party SDK required). If you need anything related to testing, you can let us know.  I think we are the primary/only users of these items too.

[2017-10-03 16:20] lassoan commented on #192
@jamesobutler We plan to release a new stable version of Plus based on the current master branch content in 1-2 weeks. It would be great if you could test if Capistrano, USDigitalEncoders, and WinProbe interfaces work well.

[2017-10-03 21:14] lassoan commented on #196
from @Sunderlandkyl:

[2017-10-03 21:18] lassoan commented on #196
Thanks. It sounds promising, however the dropping of the frame rate from 23fps to 5fps may not be acceptable in many applications.

@ungi Do we need to track more tools than what StealthStation supports?

If yes, then we'll have to contact Medtronic to see if really 5fps is the best performance we can get. If not, then just commit what we have (but make sure the performance is not degraded compare

[2017-10-03 21:39] Sunderlandkyl commented on #196
@lassoan If I make the optimization that we discussed today (removing a redundant query). The fps would be something like:

- 1 frame + 1 tool: 23.3fps
- 1 frame + 2 tools: 11.6fps
- 1 frame + 3 tools: 7.8fps
- 1 frame + 4 tools: 5.8fps

This should give us the same performance as before when using 1 frame and 1 tool, but would still decrease in performance as more tools are added.

Perhaps we cou

[2017-10-03 21:45] lassoan commented on #196
Good idea. Let's add an option for that. Probably the best would be to add it in the DataSource element (AlwaysTrack? ForceQuery? or something like that) so that it can be set for specific tools only, by default disabled (better performance).

[2017-10-05 13:13] nehk018 opened #198 "Instrucctions to add a new module."
Few weeks ago I saw a manual to add a new module to the Plus Toolkit in Assembla.

I have been searching the manual in Git, but I have not found it.
I'm trying to add a Infrared Camera like a  Plus module.

Can anyone help me?
Thank you.
Jorge Quintero
IAC. Tenerife. Canary Island.

[2017-10-05 13:16] adamrankin commented on #198
Definitely. This would be a good guide to have. I will write one up today.

[2017-10-05 14:10] dzenanz commented on #198
I will probably add Andor camera support in the near future. It would be better to have a guide with best practices instead of just picking a similar module, copying/renaming it and starting from there. The latter approach run a risk of using deprecated functionality or old style.

[2017-10-05 14:22] lassoan commented on #198
I agree that such guides are useful but keep it very generic and high-level and refer to working code for details.

[2017-10-05 17:34] ssamira commented on #161
Sure @lassoan, will let you know.

[2017-10-05 18:51] markasselin commented on #198
@nehk018 Out of curiosity, which camera do you plan on integrating?

[2017-10-05 19:13] dzenanz commented on #198
iKon Model DU934P-BV

[2017-10-06 12:36] carlos-luque opened #199 "What is the appropriate way to submit code changes?"
We have found and fixed some bugs in DataCollection code and we would like to know what the regular procedure to submit the changes is.

[2017-10-06 12:40] lassoan commented on #199
We follow standard [GitHub Flow process](https://guides.github.com/introduction/flow/). Just send a pull request with proposed changes.

[2017-10-06 13:16] adamrankin commented on #199
We appreciate bug fixes! Thanks so much.

[2017-10-06 13:20] Sunderlandkyl opened #200 "Plus doesn't run on SonixTouch running Windows XP"
When trying to start Plus on a SonixTouch machine, the following message appears:

PlusServer.exe - Entry Point Not Found
The procedure entry point inet_ntop could not be located in the dynamic link library WS2_32.dll

It seems to be a problem with Windows XP, possibly related to [this](https://social.msdn.microsoft.com/Forums/vstudio/en-US/e40465f2-41b7-4243-ad33-15ae9366f4e6/winsock2-error-the-p

[2017-10-06 13:23] adamrankin commented on #200
The Philips code can't be built at the same time as Sonix (conflicting API
dlls), so it won't be that call.

I've seen this before, but can't remember. Andras I think knew the right
solution.

Adam

On Fri, Oct 6, 2017 at 9:20 AM, Kyle Sunderland <notifications@github.com>
wrote:

[2017-10-06 13:52] nehk018 commented on #198
@markasselin I'm using a Compac Seek Camera. It's a phone device, but I found a driver for linux. I know it isn't the best device, but now it's the only infrared camera that I have.

[2017-10-06 15:54] Sunderlandkyl opened #202 "Connecting to NDI Polaris is unreliable"
When testing the NDI Polaris, I frequently found that I had to start the server multiple times in order to make a successful connection.

Log File: [100617_094842_PlusLog.txt](https://github.com/PlusToolkit/PlusLib/files/1363215/100617_094842_PlusLog.txt)

[2017-10-06 16:06] adamrankin commented on #202
If you set the serial port, does it connect immediately?

What is the reproduceability of this? Does it happen with a freshly powered on Polaris? Was the Polaris connected too previously by a previous plus instance? a previous NDI software instance?

[2017-10-06 16:07] adamrankin commented on #202
Is this a Spectra, Vicra? What is the firmware version?

[2017-10-06 17:22] Sunderlandkyl commented on #202
Spectra, firmware: 007.000.012.

It happens quite frequently, both with and without previous connections.
I tried setting the serial port, and it didn't seem to have an effect one way or the other.

[2017-10-06 18:18] #196 closed

[2017-10-06 22:50] prash-p commented on #202
I notice the same behaviour. I am using a Polaris that predates the spectra/vicra models

[2017-10-06 23:11] prash-p commented on #161
This works for me now, I tested offline reconstruction, scout scanning and live reconstruction

[2017-10-06 23:15] prash-p opened #204 "Image still streams when embedded transform is not available"
In the development snapshot I have noticed that the ultrasound image is still being updated even when the coordinate reference frame I am embedding it in is interrupted or unavailable.

Previously, the image used to freeze if the transform to the reference frame was not available, and this would be a good indicator that the transform is not available. Would it be possible to add some sort of indic

[2017-10-07 01:30] markasselin commented on #198
@dzenanz @nehk018 Great to hear more devices are being added to PLUS!

[2017-10-09 18:52] adamrankin commented on #202
[Spectra_Combined_Firmware_Revision_012.zip](https://github.com/PlusToolkit/PlusLib/files/1369553/Spectra_Combined_Firmware_Revision_012.zip)
[Spectra_Combined_Firmware_Revision_015.zip](https://github.com/PlusToolkit/PlusLib/files/1369552/Spectra_Combined_Firmware_Revision_015.zip)

Could you try with revision 15, and see if the behaviour changes? You can flash back to 12 afterwards if you like.

[2017-10-09 18:59] lassoan commented on #202
I would prefer not to update to the latest firmware until this issue is fully resolved. Communication worked flawlessly using rev12 firmware, so we should be able to keep that, while also making all the nice improvements available (at least for devices with rev15 firmware).

[2017-10-09 19:04] adamrankin commented on #202
This is to test if it's a firmware 12 issue. I can't debug further until it's tested.

[2017-10-09 19:14] adamrankin commented on #202
Specifically, I am wondering if it is a serial baud rate issue, due to the new autoselection of fastest baud rate. Perhaps the OS is reporting that a baud rate is ok, but the device can't actually handle that. It should fail much sooner than copying over ROM files, but the errors in the log don't actually make any sense.

That part of the code hasn't changed.

[2017-10-09 19:15] adamrankin commented on #202
Do you connect your device via USB and use the 2.8.28.0 driver from NDI (2013-03-26)?

[2017-10-09 19:20] lassoan commented on #202
The problem is with firmware 12. If it works with 15 then we still have to switch back to 12 to test. Have you tested your tracker with firmware 12? Did it work well?

Camera, system control unit, and wired tools all have firmware and configuration data stored internally, so I would like to avoid upgrading them because potentially we might not be able to restore exactly everything to the current s

[2017-10-09 19:27] adamrankin commented on #202
100% success rate with Spectra rev 14 and Vicra rev 15. Downgrading Spectra to 12 now.

[2017-10-09 19:28] adamrankin commented on #202
Hmm, downgrading may require some sort of force parameter. Will check in with NDI.

[2017-10-09 19:30] adamrankin commented on #202
If you remove the baud rate argument, does it work?

[2017-10-09 19:31] adamrankin commented on #202
Hmm, no, mine works with and without the argument.

[2017-10-10 12:47] Sunderlandkyl commented on #202
Yes

I can confirm that removing the baud rate doesn't work.

[2017-10-10 14:41] adamrankin commented on #202
I can't really test different code combinations as my devices work =/

In Plus stable, you get 100% connection rate, right?

[2017-10-10 16:01] Sunderlandkyl commented on #202
Yeah, the stable version works perfectly.

[2017-10-10 16:31] Sunderlandkyl commented on #159
Double checked with the updated config file and the latest nightly.
Works good!

[2017-10-11 09:55] carlos-luque opened #205 "Swap R and B channels in the device OpenCV_VIDEO"
The device OpenCV_Video does not show the RGB codification in frames

[2017-10-11 16:45] carlos-luque opened #207 "Cmake does not show the variable PLUS_USE_OpenCV_VIDEO"
The variable _PLUS_USE_OpenCV_VIDEO_ is not in the list of the no-advanced cached variables when the PlusLib is built without PlusBuild

[2017-10-11 18:08] Sunderlandkyl commented on #200
It seems to be caused by something in OpenIGTLink. I'm going to dig a little deeper to try and find the exact issue.

[2017-10-11 18:56] Sunderlandkyl commented on #200
I've found that it's due to one (or both) of the inet_pton calls at:

https://github.com/openigtlink/OpenIGTLink/blob/ed497dedc6251ebf1e1b86a55ee0daef86bedc2c/Source/igtlUDPServerSocket.cxx#L62

and

https://github.com/openigtlink/OpenIGTLink/blob/ed497dedc6251ebf1e1b86a55ee0daef86bedc2c/Source/igtlGeneralSocket.cxx#L572

[2017-10-11 19:33] adamrankin commented on #200
Was the last successful XP build on Jan 26?

[2017-10-11 20:04] Sunderlandkyl commented on #200
I'm not sure to be honest.

There was an existing build from August on the Sonix touch which did not work, so sometime before then.

The stable build is working fine.

[2017-10-12 14:53] lassoan opened #209 "User manual still has links to assembla.com"
In PlusLib\src\Documentation folder there are still a number of documents that contain links to assembla. They need to be replaced by links to github.

[2017-10-12 14:54] #161 closed

[2017-10-12 19:20] #209 closed

[2017-10-13 18:21] Colleenog opened #211 "Optical Marker Tracker on Ultrasonix"
We have the Optical Marker Tracker configured on the Windows 64 version of PLUS, and would like to try it as our tracker with the Ultrasonix machine video stream. However, when we use the same config file with the Ultrasonix version of PLUS, the error message reports that Optical Marker Tracker is not supported. Is this feature planned to be integrated into the Ultrasonix version of PLUS?

Thank y

[2017-10-13 18:33] adamrankin commented on #211
It could be enabled for the build, as it has no conflicts. @lassoan?

[2017-10-13 19:36] lassoan commented on #211
As far as I know, Ultrasonix does not have 64-bit SDK, so if you want to run something on the Ultrasonix device then it has to be a 32-bit release. I think OpticalMarkerTracker device could be enabled for the Ultrasonix WinXP embedded edition. @Sunderlandkyl could you test if OpticalMarkerTracker device works on the Ultrasonix machine?

By the way, if you don't need to use SonixGPS tracker then yo

[2017-10-13 19:39] adamrankin commented on #211
Just fyi, the optical marker tracker is moderately CPU intensive (or GPU, if available). I don't know how the performance would be on a Sonix machine.

[2017-10-13 19:42] Sunderlandkyl commented on #211
Well, there's only one way to be sure. I'll give it a try and report back when I can.

[2017-10-15 15:01] leochan2009 commented on #200
Hi Both,
compile issue should be fixed by your pull request.
Thanks a lot!.

Best,
Longquan

[2017-10-15 15:45] adamrankin commented on #200
Thanks!

[2017-10-15 15:54] adamrankin commented on #202
I am working with NDI to revert our Spectra to revision 12, but it's not going smoothly. If you guys have time to identify why the code fails to connect, that would be very much appreciated.

A CRC error should be extremely rare, if never.

[2017-10-16 02:48] prash-p commented on #82
@lassoan Following on the conversation from the assembla thread, I obtained ndi oapi version 3.0.0.6.6. Now the build errors are no longer about the ndi oapi but instead with Qt. I get this:

`Error	68	error LNK1112: module machine type 'x64' conflicts with target machine type 'X86' [C:\PlusLib\bin\Deps\vtk-bin\GUISupport\Qt\QVTKWidgetPlugin.vcxproj]	C:\PlusLib\bin\Qt5Widgets.lib(Qt5Widgets.dll)	v

[2017-10-16 13:52] Sunderlandkyl opened #212 "vtkFreehandCalibrationOPEIOptimizationMethodTest Fails"
http://perkdata.cs.queensu.ca/CDash/testDetails.php?test=1533129&build=81520

- Update baseline.

[2017-10-16 14:41] adamrankin commented on #82
Machine type is generated by your CMake generator. Have you installed the correct Qt for your desired architecture?

[2017-10-16 15:42] Sunderlandkyl commented on #211
I couldn't find a webcam that worked on our Ultrasonix machine, but I built a version of Plus with both Ultrasonix and the OpticalMarkerTracker, and it was able to run.

I've enabled OpticalMarkerTracker support on the nightly Ultrasonix packages, so it should be available later today when the nightly is built.

[2017-10-16 18:40] Sunderlandkyl commented on #202
We could also set up a remote desktop on a computer with the Polaris connected if that would help.

[2017-10-17 18:31] Sunderlandkyl commented on #200
Apparently the nightly version still doesn't run on XP, since it's built with support for Phidget Spatial (which also has an inet_ntop/inet_pton call).

Do we need to have support for Phidget Spatial in the Ultrasonix builds, or can I just disable it?

[2017-10-18 16:30] #159 closed

[2017-10-18 16:32] Sunderlandkyl commented on #170
Small patch is still due to remove memory leak.

[2017-10-18 16:32] #131 closed

[2017-10-18 18:02] markasselin opened #214 "Adding support for building OptiTrack using PLTools"

[2017-10-18 18:03] markasselin commented on #214
@Sunderlandkyl Could you please add this to the tasks for Plus 2.5

[2017-10-19 13:09] Sunderlandkyl opened #216 "Show input image slice in Volume Reconstruction tab in fCal"
_From @Sunderlandkyl on September 21, 2017 15:18_

Add a slider for choosing the input image slice to be displayed over the reconstructed volume in Volume Reconstruction tab

Migrated from https://app.assembla.com/spaces/plus/tickets/428/details

_Copied from original issue: PlusToolkit/PlusApp#9_

[2017-10-19 13:10] Sunderlandkyl opened #217 "Stylus calibration calibrate and show result during calibration"
_From @Sunderlandkyl on September 21, 2017 15:19_

Stylus calibration could calibrate in course of the calibration process and show preminilary results from time to time (eg. every 10 acquired points), similarly like in phantom registration

Migrated from https://app.assembla.com/spaces/plus/tickets/475/details

_Copied from original issue: PlusToolkit/PlusApp#10_

[2017-10-19 13:10] Sunderlandkyl opened #218 "Make tool status display window easier to access in fCal"
_From @Sunderlandkyl on September 21, 2017 15:22_

Now the tool status display widget sits in Configuration toolbox. Although there is a pop-out button near it, it is not as obvious as this feature is needed.
A more visible message is needed near the widget, and the pop-out button should be moved to the common toolbar (where the configuration saving and the options buttons are), and changed it to

[2017-10-19 13:10] Sunderlandkyl opened #219 "Communication with NDI Certus tracker randomly breaks"
_From @Sunderlandkyl on September 21, 2017 15:24_

After a period of approximately 1 hour, the NDI ceases communication with the host.

Tested on an NDI Certus with fCal build 1892.

Migrated from https://app.assembla.com/spaces/plus/tickets/546/details

_Copied from original issue: PlusToolkit/PlusApp#12_

[2017-10-19 13:11] Sunderlandkyl opened #220 "Add segmentation parameter dialog user selectable view orientation"
_From @Sunderlandkyl on September 21, 2017 15:32_

See subject.

Migrated from https://app.assembla.com/spaces/plus/tickets/716/details

_Copied from original issue: PlusToolkit/PlusApp#13_

[2017-10-19 13:11] Sunderlandkyl opened #221 "vtkBkProFocusOemVideoSource crashes on disconnect"
_From @Sunderlandkyl on September 21, 2017 15:50_

When acquiring images using vtkBkProFocusOemVideoSource video source the acquisition works fine, but fCal crashes when clicking on Disconnect.

Migrated from https://app.assembla.com/spaces/plus/tickets/753/details

_Copied from original issue: PlusToolkit/PlusApp#14_

[2017-10-19 13:11] Sunderlandkyl opened #222 "Add visualization of line segmentation results to fCal"
_From @Sunderlandkyl on September 21, 2017 15:52_

Live update of segmentation results to see if the line can be segmented. Perhaps similar to segmentation parameter dialog? Or maybe make seg dialog do both jobs?

Migrated from https://app.assembla.com/spaces/plus/tickets/780/details

_Copied from original issue: PlusToolkit/PlusApp#15_

[2017-10-19 13:11] Sunderlandkyl opened #223 "Simplify calibration report generation"
_From @Sunderlandkyl on September 21, 2017 16:19_

After the refactoring has been completed (the calibration algorithm class gets TrackedFrameList as input and gives a matrix and the error report as output, and the obsolete functions have been removed), the report generation should be simplified.
Now the report uses a vast number of strange member variables (like mValidationPositionsNWire1InUSProb

[2017-10-19 13:11] Sunderlandkyl commented on #223
2014-09-30 16:42
Andras Lasso
re #334: Keep the simulation configuration of only the new phantom registration method. Improved fCal documentation.
Committed to: plus
In plus:3746

2014-09-30 16:42
Andras Lasso
re #334: Keep the simulation configuration of only the new phantom registration method. Improved fCal documentation.
Committed to: plus
In plus:3747

2014-09-30 17:03
Andras Lasso
re #334: F

[2017-10-19 13:12] Sunderlandkyl opened #224 "Frame rendering (capture tab) is incorrect when image data is low resolution"
_From @Sunderlandkyl on September 21, 2017 17:37_

Can reproduce with PlusDeviceSet_fCal_Sim_3d.xml

Capture tab will show a distorted scene.

Also occurs with 2D data, can repro with the attached .mha

Migrated from https://app.assembla.com/spaces/plus/tickets/962/details

_Copied from original issue: PlusToolkit/PlusApp#17_

[2017-10-19 13:12] Sunderlandkyl commented on #224
2015-02-06 13:41
Adam Rankin
[lowres.mha.txt](https://github.com/PlusToolkit/PlusApp/files/1322227/lowres.mha.txt)

[2017-10-19 13:12] Sunderlandkyl opened #225 "Revise the new Sikuli capabilities and switch to QtTesting framework if needed"
_From @Sunderlandkyl on September 21, 2017 17:53_

Note: Sikuli has been revived (got some funding and new owners), so before ditching it, we should wait for a release and try it.

We need to find a substitute for Sikuli for automated GUI testing, and QtTesting seems to be the best candidate (Slicer community also uses this one).

Tests need to be created for the same tasks that we cover with Siku

[2017-10-19 13:12] Sunderlandkyl commented on #225
2016-07-13 12:44
Adam Rankin
Reclassifying as a bug as currently UI tests do not work.

2016-07-13 14:13
Adam Rankin
http://doc.qt.io/qt-5/qttestlib-tutorial3-example.html
http://stackoverflow.com/questions/4753845/build-qt-tests-with-cmake

2016-08-28 16:17
Adam Rankin
re #614 Preparing for transition to QTest
Committed to: plus
Cleaning up PlusApp CMake files

Applying formatting changes to Plus

[2017-10-19 13:12] Sunderlandkyl opened #226 "Create PlusServer launching service"
_From @Sunderlandkyl on September 21, 2017 17:58_

Currently PlusServer has to be started manually on the data collection computer, which may be inconvenient. We could develop a simple always-running application that can start (and stop) a PlusServer with a chosen configuration file requested through an OpenIGTLink command.

The config file could be a locally stored file (then the filename would b

[2017-10-19 13:12] Sunderlandkyl commented on #226
2015-01-26 23:21
Matt McCormick
re #858: PlusLib set PLUS_EXECUTABLE_OUTPUT_PATH default.
Committed to: plus
Required for configuration outside the PlusBuild superbuild.
In plus:3926

2015-01-27 00:32
Andras Lasso
Accidentally committed under this ticket, while commit 3926 is actually related to #958

2016-02-05 15:57
Andras Lasso
Description changed from Currently PlusServer has to... to Currentl

[2017-10-19 13:12] Sunderlandkyl opened #227 "fCal spatial calibration error due to invalid ProbeToTracker transform"
_From @Sunderlandkyl on September 21, 2017 18:0_

In fCal spatial calibration step, this error is logged:
"Spatial calibration in fCal failed when to Transform path not found from Probe to Tracker coordinate system"
when tracker device ToolReferenceFrame was not set to "Tracker".

See details at https://app.assembla.com/spaces/plus/messages/5741413

Migrated from https://app.assembla.com/spaces/pl

[2017-10-19 13:12] Sunderlandkyl commented on #227
2017-01-23 01:18
Andras Lasso
re #1145: Removed DEFAULT_TRACKER_REFERENCE_FRAME_NAME
Committed to: plus
DEFAULT_TRACKER_REFERENCE_FRAME_NAME is not used, but by default the tracking device ID is used as
tracker reference frame name, if ToolReferenceFrame attribute is not specified for the device in the configuration file.
In plus:5036

2017-01-23 01:20
Andras Lasso
test #1145: Check validity of Pr

[2017-10-19 13:12] Sunderlandkyl opened #228 "VolumeReconstructor ignores OutputExtent and OutputOrigin"
_From @Sunderlandkyl on September 21, 2017 18:8_

SetOutputExtentFromFrameList is called regardless of whether OutputExtent and OutputOrigin were specified in the configuration file. If this call is skipped manually during debugging, this error occurs:
[code]
This prevents setting custom output extent to skip unwanted part of volume from being reconstructed, e.g. for quicker debugging (breakpoints

[2017-10-19 13:12] Sunderlandkyl commented on #228
2017-02-12 13:09
Andras Lasso
Can you describe what class you are referring to? We specify custom output origin, spacing, and extent in Plus Remote and it works fine.

2017-05-11 10:46
Dzenan Zukic
I am talking about volume reconstructor executable, which in turn invokes vtkPlusVolumeReconstructor. VolumeReconstructor.cxx, line 175:
[code]
obliterates OutputOrigin and OutputExtent settings provide

[2017-10-19 13:12] Sunderlandkyl opened #229 "Add documentation page for ApplicationEnhanceUsTrpSequence to Documentation/Tools.dox"
_From @Sunderlandkyl on September 21, 2017 18:10_

(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1199/details

_Copied from original issue: PlusToolkit/PlusApp#22_

[2017-10-19 13:12] Sunderlandkyl commented on #229
2017-05-16 14:53
Ben Church
re #1199: Added line to create doxygen documentation subpage for ApplicationEnhanceUsTrpSequence (#1198)

Branch: master
Commit: plus.2:63b4b34b5d

2017-05-16 14:53
Adam Rankin
Merge pull request #7 from BenChurch/master

re #1199: Added line to create doxygen documentation subpage for Appl…

Branch: master
Commit: plus.2:00b45ab54c

[2017-10-19 13:13] Sunderlandkyl opened #230 "Is it possible to build the PlubApp without PlusBuild?"
_From @carlos-luque on October 6, 2017 12:20_

I am trying to build PlusApp linking to precompiled libraries instead of the PlusBuild ones.  I have two doubts:

1. Why does cmake request about VTK_DIR, ITK_DIR, OpenIGTLinkIO_DIR, and OpenCV_DIR? when I set up the path for the OpenIGTLinkIO_DIR, the cmake warns that the variables were already defined. This is the error message I get:
`CMake Error a

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @lassoan on October 6, 2017 12:37_

Of course it is possible to build PlusApp without PlusBuild, but you then have to do all the build steps manually (checkout and build required libraries and configure PlusApp to find them). If you have any doubts what PlusApp needs, just build using PlusBuild first and see what it builds. You can find in External_PlusApp.cmake all the information that are

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 13:16_

I will try to build openigtlinkio to make sure the cmake logic is correctly done for out-of-tree builds

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 13:34_

PlusBuild CMake uses the _DIR variables as the location of the build folders for the various libraries. If you want to use PlusBuild to build some libraries, but use some of your own, then you could set (for example) VTK_DIR to use your own VTK, but have PlusBuild build everything else (it will pass your VTK to all the other projects as well).

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 6, 2017 14:22_

Thanks a lot for your answers.

Unfortunately, I have already tried these solutions. I set up the _DIR variables in the PlusApp Cmake. These variables are VTK_DIR, ITK_DIR and PlusLib_DIR and they reference to successfully compiled libraries (VTK, ITK, and PlusLib).
Cmake warns the following messages:

`CMake Warning at CPackConfig.cmake:105 (MESSAGE)

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 14:24_

Linux?

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 6, 2017 14:25_

Yes, I am working in Linux.

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 14:28_

So, OpenIGTLinkIO_DIR is not required by PlusApp. Did you mean PlusLib?

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 6, 2017 14:35_

No, I didn't. I have compiled PlusLib succesfully. Now I am trying to compile **_PlusApp_** and cmake asks not only PlusLib (PlusLib_DIR), but also VTK_DIR, ITK_DIR, and so on.

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 14:36_

Could you upload your PlusLibConfig.cmake referred to in your PlusLib_DIR folder?

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 14:37_

(OpenIGTLinkIO_DIR is required transitively, but should be transparent if PlusLib is configured/built as we think it should be).

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 6, 2017 14:43_

This is the file. The dummy extension txt is due to supported files.

[PlusLibConfig .cmake.txt](https://github.com/PlusToolkit/PlusApp/files/1363009/PlusLibConfig.cmake.txt)

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 14:46_

and in PlusApp, you have no manually set an OpenIGTLinkIO_DIR, correct?

Could you upload OpenIGTLinkIOConfig.cmake from
`/opt/home/cluque/local/software/openIGTlinkIO/lib/cmake/igtlio`
or the directory you've specified in OpenIGTLinkIO_DIR (if applicable)

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 6, 2017 14:52_

I manually set up OpenIGTLinkIO_DIR.

[OpenIGTLinkIOConfig.cmake.txt](https://github.com/PlusToolkit/PlusApp/files/1363032/OpenIGTLinkIOConfig.cmake.txt)

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 14:56_

Ok, PlusLib should be responsible for managing OpenIGTLinkIO_DIR.

Could you remove the override from PlusApp?

Also, are any of the libraries installed via a package manager? Or are all dependencies built?

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 6, 2017 15:10_

I built all dependencies.

If I remove OpenIGTLinkIO_DIR from PlusApp Cmake, then I get the warning
`CMake Warning at CPackConfig.cmake:105 (MESSAGE): Unable to set OpenIGTLinkIO_DIR for package generation! Call Stack (most recent call first): CMakeLists.txt:196 (INCLUDE)`

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 6, 2017 15:15_

Does the folder
`/opt/home/cluque/local/software/openIGTlinkIO/lib/cmake/igtlio`
exist?

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 6, 2017 15:23_

Yes, but I have to check a few more things, and I will be back to you on Monday.
Thanks for much.

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 9, 2017 14:56_

Finally, I could build the PlusApp, because I switched the folder _-prefix_ to the folder _-bin_.  The issue was that the variables _OpenIGTLinkIO_DIR_ and _OpenCV_DIR_ in PlusLib had not be set up correctly.

I cannot understand why the PLusApp requests the VTK and ITK libraries if they are defined by PlusLib.

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 9, 2017 15:28_

They don't. It calls FindPackage(PlusLib) followed by Include(${PLUSLIB_USE_FILE} which establishes all of its dependencies.

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 9, 2017 15:41_

I have checked it in the file PlusLibConfig.cmake (attached). I think that the variables are properly defined.
[PlusLibConfig.cmake.txt](https://github.com/PlusToolkit/PlusApp/files/1369049/PlusLibConfig.cmake.txt)

Do you think it is correct configuration?

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 9, 2017 16:12_

It's autogenerated based on the inputs you give PlusLib. If you're able to build PlusLib, then you should be able to build PlusApp.

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 9, 2017 16:14_

I believe if you had given a -prefix dir to PlusLib, it would not have built.

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @carlos-luque on October 10, 2017 11:35_

Finally, both libraries (PlusApp and PlusLib) were built. I can execute fcal, PlusServerLauncher, and  DiagnosticTool.

Thanks for your time.

[2017-10-19 13:13] Sunderlandkyl commented on #230
_From @adamrankin on October 10, 2017 12:16_

No problem, sorry it didn't go smoothly. I admit we rarely have people build the supporting libraries independently.

[2017-10-19 13:14] Sunderlandkyl opened #231 "MSVC / Ninja Build"
_From @Sunderlandkyl on September 21, 2017 16:13_

Build/test with the CMake Ninja with MSVC.

Migrated from https://app.assembla.com/spaces/plus/tickets/891/details

_Copied from original issue: PlusToolkit/PlusBuild#10_

[2017-10-19 13:14] Sunderlandkyl commented on #231
2014-05-26 22:45
Matt McCormick
re #891: Pass CMAKE_BUILD_TYPE with MSVC / Ninja
Committed to: plus
Redefine ep_common_args, which had been abandoned for
PlusLib, OpenIGTLink, PlusApp, VTK, ITK PlusBuild's.
In plus:3328

2014-05-26 22:51
Matt McCormick
re #891: PlusLib does not assume VS output paths.
Committed to: plus
MSVC / Ninja does not have Release in TEST_OUTPUT_PATH.

Use TARGET_FILE CMake

[2017-10-19 13:14] Sunderlandkyl opened #232 "Delay-load device-specific DLLs"
_From @Sunderlandkyl on September 21, 2017 17:25_

Some devices rely on various driver DLLs that are installed in system directories. If those DLLs are not installed then none of the Plus application start. Using delayed DLL loading the driver DLLs would not be required unless that specific device is used that requires that DLL.

https://msdn.microsoft.com/en-us/library/151kt790(v=vs.90).aspx

Off

[2017-10-19 13:14] Sunderlandkyl commented on #232
_From @dzenanz on September 22, 2017 20:35_

I think this is true for other devices besides those you listed, e.g. Capistrano US, USDigital encoders etc.

[2017-10-19 13:14] Sunderlandkyl opened #233 "RelWithDebInfo is a second-class citizen"
_From @Sunderlandkyl on September 21, 2017 18:17_

RelWithDebInfo build mode lacks SEIDrv32.dll and ATC3DG.DLL. These files are present in Debug and Release folders (along with Qt's DLLs and PlusConfig.xml), in spite of me never even building in either of these modes.

Migrated from https://app.assembla.com/spaces/plus/tickets/980/details

_Copied from original issue: PlusToolkit/PlusBuild#12_

[2017-10-19 13:14] Sunderlandkyl commented on #233
2015-04-06 20:54
Andras Lasso
DLLs are copied to bin/Debug bin/Release directories to avoid the need to use a launcher. This should be done for MinSizeRel and RelWithDebugInfo configurations, too.

As a workaround, you can copy all the DLLs in Release to RelWithDebugInfo.

2015-04-07 10:45
Andras Lasso
Note for final solution: Copying all Qt DLLs to two additional directories would waste a lot of

[2017-10-19 13:14] Sunderlandkyl opened #234 "Update dashboard URL"
_From @Sunderlandkyl on September 21, 2017 18:21_

CDash server is moved from crunch.cs.queensu.ca to perkdata.cs.queensu.ca.
Update CDash submission URLs and documentation accordingly.
Also change PlusLib's project name from PLUS to PlusLib for consistency.

Migrated from https://app.assembla.com/spaces/plus/tickets/1215/details

_Copied from original issue: PlusToolkit/PlusBuild#13_

[2017-10-19 13:14] Sunderlandkyl commented on #234
2017-08-03 21:07
Andras Lasso
re #1215: Updated dashboard URL

Branch: master
Commit: plus.3:d9de447eb8

2017-08-03 21:09
Andras Lasso
re #1215: Updated dashboard URL

Branch: master
Commit: plus:442c91dae8

2017-08-03 21:10
Andras Lasso
re #1215: Updated dashboard URL

Branch: master
Commit: plus.2:60626170cf

2017-08-03 21:16
Adam Rankin
Yeesss... the inconsistent naming has bugged me forever!

[2017-10-19 13:15] Sunderlandkyl opened #235 "CMake maintenance"
_From @Sunderlandkyl on September 21, 2017 18:24_

This ticket is used to capture all minor fixes and improvements to CMake configuration of PlusBuild/PlusApp/PlusLib

Major changes or changes specific to a current task should be submitted under their respective tickets.

Migrated from https://app.assembla.com/spaces/plus/tickets/1216/details

_Copied from original issue: PlusToolkit/PlusBuild#14_

[2017-10-19 13:15] Sunderlandkyl commented on #235
2017-08-04 11:50
Adam Rankin
Assigned to set to Adam Rankin
re #1216 Only producing Ultrasonix SDK versions if ultrasonix is selected

(cleaning up CMake interface when configuring)

Branch: master
Commit: plus.3:9d6c2f07f5

[2017-10-19 13:16] Sunderlandkyl opened #236 "Create clip-on fixture for Telemed ultrasound probes"
_From @Sunderlandkyl on September 26, 2017 16:0_

(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1183/details

_Copied from original issue: PlusToolkit/PlusModelCatalog#1_

[2017-10-19 13:16] Sunderlandkyl commented on #236
2017-04-27 14:19
Tamas Ungi
Re #1183: Added initial model
Committed to: plus
In plus:5071

2017-04-27 14:51
Tamas Ungi
Re #1183: Made brace thicker and tighter
Committed to: plus
In plus:5072

2017-05-14 20:27
Tamas Ungi
Re #1183: Part added for L12 probe
Committed to: plus
In plus:5075

2017-05-14 22:24
Tamas Ungi
Re #1183: First version sent for printing
Committed to: plus
In plus:5076

2017-05-

[2017-10-19 13:16] Sunderlandkyl opened #237 "Create printable markers compatible with Medronic Stealth Station"
_From @Sunderlandkyl on September 26, 2017 16:0_

(No description)

Migrated from https://app.assembla.com/spaces/plus/tickets/1189/details

_Copied from original issue: PlusToolkit/PlusModelCatalog#2_

[2017-10-19 13:16] Sunderlandkyl commented on #237
2017-05-09 11:01
Tamas Ungi
Re #1189: One tool added.
Committed to: plus
In plus:5073

[2017-10-19 13:16] Sunderlandkyl opened #238 "Move all EM field distortion mapping tool models to model catalog"
_From @Sunderlandkyl on September 26, 2017 16:1_

SlicerIgtAssembla\EmFieldDist\models

Migrated from https://app.assembla.com/spaces/plus/tickets/1023/details

_Copied from original issue: PlusToolkit/PlusModelCatalog#3_

[2017-10-19 15:07] Sunderlandkyl commented on #212
@lassoan Something that I noticed is that the test fails on Windows, but passes on Mac/Linux.
In the event that updating the baseline breaks the test on Mac/Linux, should I update the test threshold so that it passes on those platforms?

The alternative would be to update the threshold on Windows and leave the baseline where it is.

[2017-10-19 15:26] lassoan commented on #212
Windows is our main platform. It would be better to compute the baselines on Windows and adjust thresholds on other platforms.

[2017-10-19 15:45] #236 closed

[2017-10-19 15:45] #237 closed

[2017-10-19 15:45] #238 closed

[2017-10-19 16:24] #200 closed

[2017-10-19 17:24] Sunderlandkyl commented on #229
@lassoan Since the page in question exists at: http://perk-software.cs.queensu.ca/plus/doc/nightly/user/ApplicationEnhanceUsTrpSequence.html, can this issue be closed, or assigned to a different milestone?

[2017-10-19 20:45] prash-p opened #240 "Integration of Clarius Ultrasound"
Does anyone have any experience with the Clarius ultrasound systems, and whether it is easy to integrate this into plus?
https://www.clarius.me/products/

[2017-10-19 20:47] prash-p opened #241 "Integration of Atracsys Optical Trackers"
Does anyone have any experience with the Atracsys cameras (https://atracsys.com/web/eng/measurement/products_2), and knows if it is possible to integrate them with PLUS?

[2017-10-19 20:48] lassoan commented on #240
We have recently started discussion with them. If we can secure the grant funding that we plan to get then an interface in Plus is expected to be available in a few months.

[2017-10-19 20:48] lassoan commented on #241
Atracsys interface in Plus will be available in a couple of weeks.

[2017-10-19 20:53] prash-p commented on #241
Great! Is that for a specific model or any atracsys camera?

[2017-10-19 20:54] lassoan commented on #241
We tested it with spryTrack.

[2017-10-19 23:49] lassoan commented on #229
This page looks OK but I don't find the device listed on the devices page and a description of the XML attributes.

[2017-10-20 13:33] Sunderlandkyl commented on #227
Issue appears to be fixed. Will reopen the ticket if it is still an issue.

[2017-10-20 13:33] #227 closed

[2017-10-20 13:34] Sunderlandkyl commented on #214
@markasselin When do you plan to work on this?

[2017-10-20 13:36] Sunderlandkyl commented on #170
Will close once #213 is merged.

[2017-10-20 13:38] Sunderlandkyl commented on #212
Will close after there are no failures in the next nightly build.

[2017-10-20 13:59] markasselin commented on #214
@Sunderlandkyl I will be completing it this weekend so that it can be included in the stable PLUS 2.5 release.

[2017-10-23 13:12] lassoan commented on #240
Closing this now. Please reopen if you have further questions related to this topic.

[2017-10-23 13:12] #240 closed

[2017-10-23 13:13] lassoan commented on #230
Closing this now. Please reopen if you have further questions related to this topic.

[2017-10-23 13:13] #230 closed

[2017-10-23 13:14] lassoan commented on #205
Has this been resolved?

[2017-10-23 13:17] lassoan commented on #83
Closing this now. We successfully build Plus with StealthLink on multiple computers (64-bit systems, 32-bit builds). Please reopen if you have further questions related to this topic.

[2017-10-23 13:17] #83 closed

[2017-10-23 13:17] lassoan commented on #199
Closing this now. Please reopen if you have further questions related to this topic.

[2017-10-23 13:17] #199 closed

[2017-10-23 13:18] lassoan commented on #198
Closing this now. Please reopen if you have further questions related to this topic.

[2017-10-23 13:18] #198 closed

[2017-10-23 13:25] lassoan commented on #204
There is a check here that prevents sending of the image if the embedded transform is invalid:

https://github.com/PlusToolkit/PlusLib/blob/cb775a9d61fc5d277a9651657acd5ad292d972ed/src/PlusOpenIGTLink/vtkPlusIgtlMessageFactory.cxx#L173

Could you double-check if the ImageTo(EmbeddedTransformToFrame)Transform is invalid?
Could you add a break point to the line referenced above and see what happens

[2017-10-23 13:26] lassoan commented on #207
Has this been resolved?

[2017-10-23 13:28] lassoan commented on #211
This should work in latest development snapshots. Please reopen if it does not work as expected.

[2017-10-23 13:28] #211 closed

[2017-10-23 13:30] lassoan commented on #217
Stylus calibration is a short (5-15sec) process. Showing preliminary results would not likely to have any effect on how the calibration goes.

[2017-10-23 13:30] #217 closed

[2017-10-23 13:33] lassoan commented on #219
NDI Certus tracker is not used commonly in clinical practice (NDI Polaris trackers are used clinically by both Medtronic and BrainLab). Robustness issues are inconvenient but tolerable in laboratory experiments. Therefore, fixing this issue is low priority.

[2017-10-23 13:35] lassoan commented on #221
This may have been fixed by recent improvements to the class. Need to have access to a BK device to verify.

[2017-10-23 13:38] #212 closed

[2017-10-23 13:50] carlos-luque commented on #207
Yes, it has.

[2017-10-23 13:59] lassoan opened #242 "Change OptiTrack RunMotiveInBackground attribute"
RunMotiveInBackground attribute name is very confusing. What does it mean if it set to FALSE? Not running Motive? Running in the foreground? Running something else than Motive? What "background" means?

In general, a flag
- should refer to a single concept (here there are 1. running motive, 2. running in the background)
- should be always positive (background is kind of negative, sounds like suppr

[2017-10-23 14:00] lassoan commented on #222
As far as I remember, this has been implemented. @Sunderlandkyl Could you please check if this has been implemented already? If not then put it into Plus-Future.

[2017-10-23 14:02] lassoan commented on #233
No response for several months - closing this now.

[2017-10-23 14:03] lassoan commented on #234
This has probably been fixed. @Sunderlandkyl please double-check that there is no reference to the old URL (crunch.cs.queensu.ca) anywhere anymore - in source code and documentation, in any of the repositories.

[2017-10-23 14:04] lassoan commented on #235
We don't require references to tickets in all cases anymore, so this ticket is no longer needed to be kept open.

[2017-10-23 14:04] #235 closed

[2017-10-23 14:05] #207 closed

[2017-10-23 14:24] adamrankin commented on #233
I know we're trying to reduce stale tickets, but this is not a bad one to move to some sort of Release-Future class, as it is mostly CMake additions that would resolve this issue, and it's mostly copy-paste of the Debug cases. It would also aid in performance optimization when needed.

Just a thought.

[2017-10-23 14:25] adamrankin commented on #222
Yes, implemented and if I may say, very helpful.

[2017-10-23 14:25] #222 closed

[2017-10-23 14:27] Sunderlandkyl commented on #234
I can't find any references to crunch.cs.queensu.ca in the current source code or documentation, although it still exists in the 2.4 branch.

[2017-10-23 14:28] lassoan commented on #233
Is the only remaining issue that all DLLs have to be copied from Release to RelWithDebugInfo (not overwriting existing ones)?

[2017-10-23 14:50] adamrankin commented on #233
I think so, I haven't fully investigated, but I think so.

[2017-10-23 14:51] adamrankin commented on #233
DLLs (and PDBs)

[2017-10-23 15:11] lassoan commented on #234
It's good then. Having it in the 2.4 branch is no problem.

[2017-10-23 15:11] #234 closed

[2017-10-23 15:19] lassoan commented on #233
OK. Let's keep this issue open and whenever somebody will work on this then we'll add details.

By the way, normally no PDB files are generated for release-mode builds, so when you copy from the Release folder, there will be only DLLs.

[2017-10-23 15:29] dzenanz commented on #233
Qt and SDKs release builds might not have PDBs, but libraries in Plus' super-build will have them (ITK, VTK, OpenIGTLink and OpenIGTLinkIO).

[2017-10-23 18:13] #170 closed

[2017-10-23 18:23] lassoan commented on #233
ITK, VTK, Openigtlink, etc. DLLs and PDBs are generated in the correct location. Only Qt and probably some device SDK DLLs has to be copied manually from Release versions.

None of the Release builds (Plus, ITK, VTK, or any third-party) has PDBs if it they are built with default Release settings in VisualStudio, as Release setting explicitly turns off generation of PDB files.

[2017-10-23 18:25] adamrankin commented on #233
Right, duuuhhh... So only copying of Release DLLs for external libraries/SDKs.

[2017-10-24 07:19] carlos-luque commented on #205
I think it has been partly resolved. When I use the updated code for a device openCV_video, the color codification is correctly shown in the 3D Slicer but is not in the fCal. Both applications use the same configuration file.   I do not know _why_ the application fCal does not take the updated color codification.

[2017-10-24 13:26] lassoan commented on #205
Do you mean that R and B color channels are swapped when you look at the image in fCal?

[2017-10-24 13:30] carlos-luque commented on #205
Yes, I do.

[2017-10-24 13:43] lassoan commented on #205
OK. We'll investigate this after the new stable version is released.

[2017-10-24 13:53] lassoan commented on #242
Don't forget to update the configuration files as well.

[2017-10-24 14:00] lassoan commented on #242
Is there an option to start Motive with the GUI shown? If it's easy to implement then it might be useful to have all these options:
- connect to running Motive application (don't stop when PlusServer disconnects)
- start Motive with GUI (and stop when PlusServer disconnects)
- start Motive in the background (and stop when PlusServer disconnects)

[2017-10-24 14:15] markasselin commented on #242
Config files are already updated, see [#7](https://github.com/PlusToolkit/PlusLibData/pull/7)

[2017-10-24 14:17] markasselin commented on #242
I will take a look for an option to start motive with GUI - the only way I know of right now would be to call command prompt from inside PLUS and execute the usual <path-to-Motive>/Motive.exe command to launch an application.

[2017-10-24 15:05] Sunderlandkyl commented on #202
I'm trying to debug the error, but I haven't found the source of the problem.
I'm attaching a set of more verbose log files.

Connecting seems to fail in two different ways:
[102417_105536_PlusLog.txt](https://github.com/PlusToolkit/PlusLib/files/1411301/102417_105536_PlusLog.txt)
[102417_105557_PlusLog.txt](https://github.com/PlusToolkit/PlusLib/files/1411303/102417_105557_PlusLog.txt)

And:
[102

[2017-10-24 16:40] adamrankin commented on #202
Identified one bug, will see if it's the cause. Config file says BaudRate 115200, but Plus is requesting 1.2Mb

[2017-10-24 17:03] adamrankin commented on #202
Could you test with https://github.com/PlusToolkit/PlusLib/tree/ndi_requested_baud ?

[2017-10-24 23:19] lassoan commented on #202
We spent almost the entire day with testing this. We found a couple of small bugs (including what you've just fixed) but the main issue is seems to be around setting the baud rate. Setting a fixed baud rate definitely helped but communication still randomly breaked down after changing the baud rate. Maybe we just need to add/increase delays. We'll do further testing.

[2017-10-25 18:25] sjh26 opened #245 "Adding support for OpenHaptics devices"
I have been working on getting the OpenHaptics libraries (http://www.geomagic.com/en/products/open-haptics/overview) working with Plus.  I have a basic working version (tracking only, no force data yet ): https://github.com/sjh26/PlusLib/commit/007e9f924dc133e91d2fc356e42d456cd2d4301b  and https://github.com/sjh26/PlusBuild/commit/8a84f595e775d80df0e2f7e8f28d0edb4569b32e

In order to have the full

[2017-10-25 18:49] markasselin commented on #242
@lassoan It looks like the only way to start and stop Motive with GUI from PLUS would be to run it within a hidden command prompt - in my opinion this isn't the nicest solution.

[2017-10-25 21:16] lassoan commented on #242
You can start any process from a process (no need to create a "command prompt") but if this is not a built-in feature of the SDK then let's _not_ implement it.

Can you confirm that these are the two options that we choose from by using the ShowMotiveGUI flag?
* connect to running Motive application (user starts/stops Motive manually)
* Plus starts Motive in the background on connect (and Plus sto

[2017-10-25 22:01] markasselin commented on #242
Yes. If the ShowMotiveGUI flag is TRUE then we will connect to a running instance of the Motive application (initiated and closed by the user). If the flag is FALSE then PLUS will start and stop Motive's processing functionality in the background.

If the user tries to run a PLUS config with ShowMotiveGUI FALSE, but Motive is already running, then the Motive API will show a warning dialog.

[2017-10-27 13:32] Sunderlandkyl commented on #202
I created a pull request integrating your changes Adam, with the changes that Andras and I made: https://github.com/PlusToolkit/PlusLib/pull/244

I managed to fix one of the remaining issues that were affecting some of the higher baud rates.
When some of the blocks of the tool definition file failed to upload, the function wouldn't fail, since it only reported the error code from the last block. I

[2017-10-27 13:36] adamrankin commented on #202
This is such odd behaviour. Is it because we never used to try the high baud rates?

[2017-10-27 14:11] lassoan commented on #202
Maybe higher baud rates are not stable with the older firmware versions? In the PerkLab we've been using standard RS-232 baud rates without any problem (of course we do not get very high frame rates).

[2017-10-27 15:06] Sunderlandkyl commented on #194
@cpinter @lassoan Was it the consensus that this test should be disabled?
In addition to the missing data file, there also seems to be a missing config file.

[2017-10-27 15:10] cpinter commented on #194
Sorry for the delay, I'll find out. He implemented a test and had test data, so this test should work (if it's really for the vtkPlusTransverseProcessEnhancer, the title is not definitive).

[2017-10-27 15:56] Sunderlandkyl opened #246 "PlusServerOpenIGTLinkCommandsTest fails on Linux due to timeout"
http://perkdata.cs.queensu.ca/CDash/testDetails.php?test=1547459&build=82204

The test passes, but it takes ~377s, way beyond the current 90s timeout.

@lassoan: Is this a problem that needs to be fixed, or should the timeout threshold just be increased?

[2017-10-27 18:51] adamrankin opened #247 "OpenCV 3.2 and CUDA9 compatibility"
OpenCV 3.2 does not build with CUDA9, requiring instead OpenCV 3.3.1.

Will aruco work with OpenCV 3.3.1?

[2017-10-30 12:36] Sunderlandkyl commented on #202
Fixed Polaris connection issues in pull requests: https://github.com/PlusToolkit/PlusLib/pull/244, https://github.com/PlusToolkit/ndicapi/pull/6, and https://github.com/PlusToolkit/ndicapi/pull/7.

Confirmed fixed on latest nightly.

[2017-10-30 12:36] #202 closed

[2017-10-30 14:10] Sunderlandkyl commented on #246
In general, all of the commands seem to take longer.
In particular, the SaveConfig command seems to take a very long time.
There are several others that take a while as well though.

Could this be due to the fact that the server is running in the VirtualBox?

[2017-10-30 14:30] adamrankin commented on #246
Yes, is this still running on Tesla? The virtual machine only has 1 core, which will considerably affect performance.

[2017-10-30 14:41] adamrankin commented on #246
That being said

http://perkdata.cs.queensu.ca/CDash/viewTest.php?onlyfailed&buildid=82346

is a native Ubuntu 4 core (8 HT) with 16GB of RAM, and it still times out.

[2017-10-30 14:44] Sunderlandkyl commented on #246
The tests are running on Artery, although it's using the same virtual machine from Tesla (copied and renamed to artery-virtualBox).

[2017-10-30 18:28] sjh26 commented on #245
@lassoan

[2017-10-30 19:20] lassoan commented on #245
You can use an OpenIGTLink tracker device that receives transforms (4x4 double values) and use output channel is that device as input for your haptic device.

You can store any 3-element vector in the translation component (4th column) of the transformation matrix.

If you find that latency is too high then using POSITION or SENSOR message instead of TRANSFORM might help (POSITION may have been im

[2017-10-31 00:25] prash-p opened #248 "NDI Vega active tool support"
On this page (http://perk-software.cs.queensu.ca/plus/doc/nightly/user/DeviceNDI.html), there is a config file for passive tool support with the Vega. Is there also active tool support built in with Vega (similar to Polaris?)

[2017-10-31 16:00] lassoan opened #249 "PlusServer crashes when querying image list from StealthLink"
When OpenIGTLinkRemote module is used in Slicer to query list of available images from StealthLink through Plus, PlusServer crashes.

[2017-10-31 16:17] adamrankin commented on #248
The Vega uses the same API as the Spectra pretty much. The only difference is the addition of a network interface. Config files for the Spectra should work with the Vega, with some tweaking.

[2017-10-31 16:26] BenChurch opened #250 "vtkPlusTransverseProcessEnhancer not detecting bones in US scan"
vtkPlusTransverseProcessEnhancer device occasionally marks bone surfaces but produces inadequately sparse results

[2017-10-31 16:28] BenChurch opened #251 "Incorporate frame tracking devices in vtkPlusTransverseProcessEnhancer config"
vtkPlusTransverseProcessEnhancer currently works without tracking information. Add tracking devices to PlusDeviceSet_Server_Ultrasonix_C5-2_TransverseProcessEnhancer_1ImageAcquisition.xml and PlusDeviceSet_Server_Ultrasonix_C5-2_TransverseProcessEnhancer_2Processing.xml so that frames appearing in Slicer track US probe

[2017-10-31 17:17] travers-bryan commented on #194
I have made a pull request with the files necessary for the test to run. Please let me know of there is anything wrong with the files or the test.

[2017-10-31 20:11] lassoan commented on #194
https://github.com/PlusToolkit/PlusLibData/pull/8 is merged.
@Sunderlandkyl Please check if this works as expected now.

[2017-10-31 20:14] lassoan commented on #214
Thanks @markasselin. I've merged the pull request, tested it on my computer, and build was successfully completed.

[2017-10-31 20:14] #214 closed

[2017-11-01 00:59] Sunderlandkyl commented on #194
Confirmed, the test passes on both Windows (http://perkdata.cs.queensu.ca/CDash/testDetails.php?test=1552680&build=82429) and Linux (http://perkdata.cs.queensu.ca/CDash/testDetails.php?test=1552760&build=82430)

[2017-11-01 00:59] #194 closed

[2017-11-01 02:14] markasselin opened #253 "Use librealsense2 instead of RealSenseSDK to support Intel RealSense cameras"
Confusingly the install folder for librealsense2 is called "IntelRealSense SDK 2.0"

[2017-11-01 16:08] cpinter commented on #194
Thanks, @travers-bryan !

[2017-11-01 17:06] dzenanz opened #256 "Limit log file size"
Is there a way to limit the size of the log file?

E.g. if a PlusServer loses connection to a device, a stream of messages is written to the log quickly (e.g. 30 times per second), making the size of the log file reach gigabyte proportions over a 24 hour period. Excerpt:
[code]

[2017-11-01 17:09] adamrankin commented on #256
This is a tricky discussion. Certainly assigning an optional max size is fine, but I would strongly avoid imposing any mandatory limits.

[2017-11-01 17:24] dzenanz commented on #256
An optional maximum size would be great. Where should that code go? Into `void vtkPlusLogger::Flush()` or somewhere else?

[2017-11-01 18:43] adamrankin commented on #256
I don't think it will be a small change, as the fact that the log has reached its limit must be conveyed to application(s). Perhaps this is just a final log entry saying further processing is halted as limit has been reached.

In which case, there should be some logic in the logger to know whether or not to accept new log entries.

[2017-11-01 19:12] dzenanz commented on #256
My idea was to check if log limit has been reached, and if it has call `exit()`. Letting the application know that without either exiting or silently stopping to accept new log entries seems like a big change.

A better use of time would be to add a mechanism to not repeat the exact same message constantly. For example, we could Replace `LOG_X` macros like this. Old style:
[code]
to this:
[code]
`

[2017-11-01 21:04] lassoan commented on #256
I agree with Adam that such logging is an error. We have a policy (I think we even described it somewhere in logging guidelines) that continuous logging is only allowed at TRACE level. If a connection breaks, you log once (at ERROR or WARNING level), when it happened, and may log again when it is restored (probably at INFO level).

[2017-11-02 15:19] Sunderlandkyl commented on #246
We found out yesterday that the test hangs on Linux waiting for mutex locks in vtkPlusOpenIGTLinkClient::SendCommand() and vtkPlusOpenIGTLinkClient::SendMessage().

This only happens when the PlusServer process is launched from PlusServerRemoteControl, but not when it's started separately.

For now, the conclusion is that we will disable the test on Linux, and potentially try to fix this at a late

[2017-11-02 16:21] adamrankin commented on #246
Thanks for investigating, why disable the test though? It's telling us useful information.

[2017-11-02 16:29] lassoan commented on #246
We track this error using the issue tracker. Having constantly failing tests would make it more difficult to detect actual errors/regressions.

[2017-11-02 16:54] adamrankin commented on #246
Wait, I thought this is an actual error?

[2017-11-02 16:55] adamrankin commented on #246
Is PlusServerRemoteControl the small network app responsible for launching plus servers? If so, is that a direction we were looking to make the "normal" process?

[2017-11-02 17:42] lassoan commented on #246
Yes, it is only a test application. One of its features is that it can start a PlusServer process (again, just for testing). PlusServerRemoteControl does not have a network interface.

PlusServerLauncher will have the ability to launch PlusServer processes based on requests that it receives through OpenIGTLink.

[2017-11-02 18:11] adamrankin commented on #246
Ah ok, cool!

[2017-11-02 18:56] sjh26 commented on #245
I am having trouble accessing the input channel i have created for the transform from slicer

I've configured the devices as below, as confirmed that the Slicer device is correctly transmitting data.  In my code I am using these methods to get the tool from the input channel:

vtkPlusDataSource* forceInput;
inputChannel->GetOwnerDevice()->GetToolByPortName("Force", forceInput)

This appears to wor

[2017-11-02 19:12] sjh26 commented on #245
Nevermind!!  Got it working now

[2017-11-02 19:29] BenChurch opened #259 "EnhanceUsTrpSequence command line tool returns help as error"
Fixed by changing LOG_ERROR() to std::cout in call to help function. I've seen that LOG_X is the convention, but other tools' also use std::cout

[2017-11-02 20:01] purav70 opened #260 "Plus Server Debug Build in VS2010"
We ran into a problem building the debug version of Plus in VS2010, where PlusApp specifically would not build. The error we ran into was cmake being unable to find the Qt config files. It turns out the problem lies in this line of code, in PlusApp/InstallFiles.cmake

216    IF(${_config} STREQUAL RELEASE OR ${_config} STREQUAL NOCONFIG)

Code following this wouldn't run as it is looking for a rel

[2017-11-02 20:11] lassoan commented on #260
I think this change would add Qt debug files to the installation package, which would just increase the package size but would not be used.

Building Qt in release mode or release&debug mode should solve the problem without any change in Plus.

[2017-11-03 14:38] olevs opened #263 "Issue connecting to NDI Polaris on macOS"
I just tried connecting to NDI Polaris Spectra using this file unmodified: PlusLibData/ConfigFiles/PlusDeviceSet_Server_NDIPolaris.xml

I haven't looked much into it yet, so it may be that I have to change some parameter in the xml file. I just thought I should let you know.
I'm using mscOS 10.12.6 (Sierra)
I verified that I get tracking with CustusX on the same machine, so the Polaris should be c

[2017-11-03 14:56] adamrankin commented on #263
I will hook up my spectra to our mac machine and diagnose it this weekend.

[2017-11-06 21:29] sjh26 commented on #245
I have the device fully working now (force input, stylus tracking, velocity, and button outputs).  What would be the next step towards getting this integrated?

[2017-11-06 21:40] adamrankin commented on #245
Commit your work to github, and then make a pull request!

[2017-11-07 00:27] adamrankin commented on #263
Hey, could you help me connect to my Spectra system on Mac? I've plugged it in, installed Toolbox, but I have no /dev/tty.XYZ entry. I am using the NDI Host Converter USB

[2017-11-07 08:57] olevs commented on #263
Try installing the FTDI USB driver linked to from https://www.custusx.org/uploads/user_doc/nightly/install_ndi_driver.html

The NDI installer should also include this installer (a slightly older version, but it probably works fine). This should be located in the folder "/Applications/NDI ToolBox/USB Driver".

[2017-11-07 09:21] olevs commented on #263
I get the exact same error when trying to connect PlusServer to NDI Polaris Spectra on Ubuntu 16.04.

[2017-11-07 13:16] olevs commented on #263
I played a bit around with the code in vtkPlusNDITracker::InternalConnectSerial()

Looking at the IGSTK code,  used by CustusX I see that "RESET " and "INIT " is called before "COMM ...". Actually I think IGSTK may send a serial communication break signal instead of RESET, but calling "RESET " should also work, and it causes the Polaris to beep twice, but the COMM command still fails with error co

[2017-11-07 15:10] #259 closed

[2017-11-07 15:37] adamrankin commented on #263
I think that a serial break should be sent, I'll double check things when I get this *!%ing thing to show up under Mac.

[2017-11-07 16:38] adamrankin commented on #263
This is not the case, the NDI Track software sends a serial break by default. Beeping simply means the device is reset.

I disagree, sending a serial break on connect guarantees that the device is at 9600 baud. If other software is used, or if Plus crashes, then the device is left in an unknown state.

The ndicapi project does a fair bit of error managing on Windows, but is not as thorough on othe

[2017-11-07 17:56] Sunderlandkyl commented on #249
PlusServer shouldn't crash anymore when trying to query the image list or retrieve an image from StealthLink, however it still won't be functional until the openigtlink/OpenIGTLink#152 pull request is integrated.

[2017-11-07 19:07] Sunderlandkyl commented on #249
I may have spoken too soon. I was testing the StealthLink with a different dataset when it crashed while attempting to download the selected image.

Debugging now.

[2017-11-07 19:22] lassoan commented on #263
My suggestion is to try to communicate with the device at the expected baud rate (in case of Plus, at 9600). If that fails, _then_ send the serial break and INIT.

It is true that beep does not strictly mean error, but it is for alerting the users for major events (power on, communication timeout, communication reset). Beep is loud and distracting if it happens too frequently, and may mask errors

[2017-11-07 21:02] Sunderlandkyl commented on #249
I discovered that it was some sort of memory allocation issue in [vtkPlusStealthLinkTracker.cxx(669-670)](https://github.com/PlusToolkit/PlusLib/blob/master/src/PlusDataCollection/StealthLink/vtkPlusStealthLinkTracker.cxx#L669-L670).
The server was crashing when trying to allocate ~223MB for the image data.

It was reproducible on a particular dataset for a while, unfortunately I am also not able

[2017-11-07 21:23] lassoan commented on #249
In a 32-bit application the usable memory space is quite limited. Allocating large contiguous memory block can be particularly problematic. Memory usage of PlusServer can be reduced by limiting size of image buffers (if there is any acquisition device). Also, we could enable ReleaseDataFlag (https://www.vtk.org/Wiki/VTK/FAQ#Using_ReleaseDataFlag) on the VTK filters that process the received image

[2017-11-07 23:03] jamesobutler opened #265 "Streaming collision between Capistrano and MMF Video"
I'm running a built version of Plus(32-bit) using Capistrano Video device(a wobbler probe) with its own SDK and streaming it into Slicer using openIGTLink port 18944. I'm also using a downloaded nightly package of Plus(64-bit) to run an MMF webcam device which streams into Slicer using openIGTLink port 18946.

I start the Capistrano Video device and then start the Webcam streaming device.
MMF reso

[2017-11-08 15:37] Sunderlandkyl commented on #249
In order to reproduce the issue, I moved from the ~223MB CT to a ~523MB CT.
I haven't managed to fix it yet.

That has me wondering, at what point should we consider a dataset to be too large to support?

[2017-11-08 15:59] lassoan commented on #249
Theoretical maximum memory space available for a 32-bit process is 2GB. Practically it usually means that you have about 1GB for data. Allocating contiguous memory blocks may easily fail, even if you have enough memory, just not in one piece. I would say that if we can deal with CTs up to 512^3, 16 bits then it is enough. We should not crash, though, but report an error and keep running.

[2017-11-08 20:36] #229 closed

[2017-11-09 14:26] Sunderlandkyl commented on #249
This issue should now be fixed.

[2017-11-09 14:26] #249 closed

[2017-11-09 15:13] Sunderlandkyl opened #268 "Create new stable release - Plus 2.6"
Tasks:
--

- [x] PlusBuild
  - [x] Create stable branch
  - [x] Update default GIT_TAG for stable branches
    - [x] PLUSLIB_GIT_REVISION
    - [x] PLUSAPP_GIT_REVISION
    - [x] PLUSBUILD_PLUSLIBDATA_GIT_REVISION
  - [x] Update GIT_TAG for external dependencies to use specific tags/commits

- [x] PlusLib
  - [x] Create stable branch
  - [x] Update Plus version in CMakeLists.txt

- [x] PlusApp
  -

[2017-11-09 15:25] Sunderlandkyl commented on #268
@lassoan I added all of the necessary tasks that I could think of.
Regarding this:

Is this something that should be done, (ie: using a specific commit for each dependency repo) so that new regressions aren't introduced by changes in the dependencies?

[2017-11-09 15:46] adamrankin commented on #192
Please delay release until I can confirm NDI tracker working on MacOSX, assuming your are locking dependencies to versions. Working on it right now.

[2017-11-09 16:31] #242 closed

[2017-11-09 16:39] adamrankin commented on #263
The Mac and Linux code is essentially identical, when I fix one, it'll 99% fix the other.

[2017-11-09 16:39] adamrankin commented on #263
Connected to tracker in Mac using NDI Track, working on Plus now.

[2017-11-09 17:34] Sunderlandkyl commented on #192
Sure, I'll wait to until you finish before finalizing PlusLib and the dependencies.

[2017-11-09 20:37] adamrankin commented on #263
Ok, fixes committed, would you be able to test? I was able to receive data from our Spectra connected to a Mac.

[2017-11-10 07:14] olevs commented on #263
Nice. I will try to test this on monday.

[2017-11-10 20:13] dzenanz opened #269 "Build failure in release mode in Visual Studio 2017"
The most recent version fails to build on 64-bit VS2017 in release mode. Debug mode builds fine. Errors are unresolved externals. The first error message is below:

vtkPlusServerTest.obj : error LNK2019: unresolved external symbol "__declspec(dllimport) public: __cdecl PlusTransformName::PlusTransformName(class PlusTransformName const &)" (__imp_??0PlusTransformName@@QEAA@AEBV0@@Z) referenced in f

[2017-11-13 01:55] lassoan commented on #269
What CMake version do you use?
Try force rebuild of vtkPlusCommon.
If that does not solve the issue, rebuild everything from scratch, in a much shorter directory path (for example, c:\D\P).

[2017-11-13 14:17] olevs commented on #263
I got the Ubuntu 16.04 setup working.

Did't have much time testing the Mac setup, but this still fails.

[2017-11-13 14:40] adamrankin commented on #263
Ok, could you pass me an error log?

On Mon, Nov 13, 2017 at 9:17 AM, Ole Vegard Solberg <
notifications@github.com> wrote:

[2017-11-13 15:16] adamrankin commented on #269
Which devices enabled?

[2017-11-13 15:57] dzenanz commented on #269
Only MMF video and WinProbe video non-default devices. Static libraries. I am making a clean build in `C:\_\PL17`

[2017-11-13 17:24] dzenanz commented on #269
The error is still there. The complete build log is attached.
[buildLog.txt](https://github.com/PlusToolkit/PlusLib/files/1467772/buildLog.txt)

[2017-11-13 17:27] dzenanz commented on #269
Here is the CMakeCache.txt of the super-build:
[CMakeCache.txt](https://github.com/PlusToolkit/PlusLib/files/1467785/CMakeCache.txt)

[2017-11-13 17:30] dzenanz commented on #269
I was using CMake 3.9.6] for this.

[2017-11-13 17:48] lassoan commented on #269
Do you build with static libraries or DLLs?

[2017-11-13 18:20] dzenanz commented on #269
Static libraries.

[2017-11-13 18:51] lassoan commented on #269
I could reproduce the problem (only the warning LNK4217: locally defined symbol; not the errors). The problem is that only PlusLib was set to static build and not PlusApp. A mixed model should be possible but it would require tuning of how BUILD_SHARED_LIBS is handled in PlusLib.

[2017-11-13 19:00] lassoan commented on #269
Fix of setting static build in both PlusApp and PlusLib: https://github.com/PlusToolkit/PlusBuild/commit/ea7e57f1eb8de3dd48913311fd11134032bdc70e

I haven't tested if it fixes the error in itself. PlusConfigure.h file defines PlusLib_STATIC, so it may be possible that even though BUILD_SHARED_LIBS is specified, PlusLib_STATIC is still not.

@dzenanz It would be great if you could test if setting s

[2017-11-13 19:36] dzenanz commented on #269
This did not seem to help. Moreover, the first error is in PlusLib. Here is a log of a repeated build:

[code]

[2017-11-13 19:38] dzenanz commented on #269
My local install is fully updated. Maybe that is the difference?

[code]

[2017-11-13 20:30] lassoan commented on #269
To confirm that you the problem and solution, could you please add these lines

    #include "PlusConfigure.h"
    #define PlusLib_STATIC

to the very beginning  of each cxx file that gives you the warning?

[2017-11-13 20:46] dzenanz commented on #269
The order of includes was wrong in the offending files. `PlusConfigure.h` was not the first Plus include. See the referencing pull requests.

[2017-11-13 21:23] lassoan commented on #269
Thank you, I've merged the two pull requests.
Can we close this issue?

[2017-11-13 21:23] #269 closed

[2017-11-14 07:38] olevs commented on #263
I wanted to do a bit more testing before sending an error log. Managed to connect to Polaris today. I used the same file as I used on Ubuntu, and just had to remove the SerialPort reference from my xml file to make it work.

[2017-11-14 14:40] adamrankin commented on #263
Ok, it fails with SerialPort set?

[2017-11-15 07:26] olevs commented on #263
Yes, the xml file I was using had SerialPort="3". The log said: "Failed to detect device on serial port 3...", so that should be an ok behavior. I don't think macOS use the same kind of numbering

[2017-11-15 13:58] adamrankin commented on #263
Yes, but serial port 1 should work, if for example you only have one device plugged in, internally that should find /dev/cu.ttyXYZ

[2017-11-15 14:20] olevs commented on #263
Setting SerialPort="1" also fail:

Server status: Connecting to devices.
|ERROR|007.692741| Failed to detect device on serial port 1. Error opening serial connection| in /Users/olevs/dev/plus_rel/PlusB-bin/PlusLib/src/PlusDataCollection/NDICAPITracking/vtkPlusNDITracker.cxx(327)
|ERROR|007.692813| Unable to connect to NDI device.| in /Users/olevs/dev/plus_rel/PlusB-bin/PlusLib/src/PlusDataCollecti

[2017-11-15 16:39] lassoan commented on #263
In the meantime, we'll create the new stable release based on the current code. We can create patch release later if you come up with a fix.

[2017-11-15 17:08] adamrankin commented on #263
I was able to connect using SerialPort=2, serial port 1 maps to /dev/cu.bluetoothXYZ, serial port 2 maps to /dev/cu.usbserial-XYZ

It basically iterates over all entries in /dev looking for cu.*, and returning index "SerialPort-1".

I don't love the serial port entry in the configuration, but there's no clean way to describe the different behavior for different OSs in a variable name.

[2017-11-15 17:17] lassoan commented on #263
I would much prefer to set the actual device name (COM1, COM2, COM10, ... on Windows) rather than just some number (1, 2, 10, ...).
Number of course may be still needed for autodetect mode, so that the program can automatically iterate through the devices using a for loop (but it may not even be necessary if you can query the list of available device names).

[2017-11-15 17:24] adamrankin commented on #263
The number is not needed for autodetect. Autodetect just scans all serial ports of as reported by the OS (well, ndicapi, which does OS specific serial port names).

I would much prefer the actual device name OS specific choice ("COM4", "/dev/cu.usbserial-XYZ", etc...)

[2017-11-15 17:25] adamrankin commented on #263
However, the autodetect seems quite reliable, it's worked for me on both Windows and Mac, and I am testing Linux now.

When compiled with VS2012+, all serial ports are checked in parallel, reducing wait time.

[2017-11-15 17:26] adamrankin commented on #263
Optionally, this code could be made cross-platform by changing to std::future and std::async

[2017-11-15 17:26] lassoan commented on #263
If we all agree, then we probably should deprecate referring to ports as "1", "2", ... and use actual device names instead.

[2017-11-15 20:07] adamrankin commented on #268
The SINTEF merge was not clean, I would recommend repeating the release procedures and testing before making the release.

[2017-11-15 20:08] lassoan commented on #268
SINTEF changes are not included in the stable release.

[2017-11-15 20:10] adamrankin commented on #268
https://github.com/IGSIO/OpenIGTLinkIO/pull/29

[2017-11-15 20:11] adamrankin commented on #268
Ah, you'll use the revision before that in the release. Gotcha.

[2017-11-15 20:15] adamrankin commented on #263
Confirmed working on Linux as well, both autodetect and specified.

[2017-11-17 15:11] dzenanz commented on #260
@purav70 Can this issue be closed?

[2017-11-17 19:04] BenChurch opened #272 "Issue opened in error - contents moved to #251"
Originally intended to separate frame tracking implementation from config value improvements. Config value improvement issue overwritten with tracking implementation

[2017-11-17 20:04] #272 closed

[2017-11-18 19:05] #268 closed

[2017-11-18 19:06] Sunderlandkyl commented on #268
Alright, I think that's everything. Let me know if there's something I've forgotten.

[2017-11-20 13:35] #192 closed

[2017-11-20 19:13] #256 closed

[2017-11-22 09:04] HughLo opened #275 "Failed to run Scout Scan and Live Reconstruction"
My system is using Epiphan frame grabber, without any tracking devices to position the probe, to obtain data from an Philips Ultrasound System. I followed all the produces on the user tutorial, but I failed to reconstruct 3D volume from the recorded data. The Scout Scan failed with error message

Command failed. See error message.

I attached the logging file as well.
[112217_165054_PlusLog.txt](h

[2017-11-22 15:06] lassoan commented on #275
Use the latest stable release of Plus (2.6) and Slicer (4.8) and let us know if you still have problems.

[2017-11-22 15:07] adamrankin commented on #275
Is it possible to do a volume reconstruction with no tracking? I think that tracking is required so that we know where to insert the slices in the reconstructed volume.

[2017-11-22 15:11] lassoan commented on #275
That's a very good point! At least you need to attach a 2D barcode to your ultrasound probe and track it with a webcam (using OpticalMarkerTracker device - see https://www.youtube.com/watch?v=MOqh6wgOOYs and http://perk-software.cs.queensu.ca/plus/doc/nightly/user/DeviceOpticalMarkerTracker.html).

[2017-11-22 15:33] adamrankin opened #276 "OpenIGTLink v1 commands not correctly responded too"
When using SlicerIGT's OpenIGTLink remote, commands receive no reply or command failed even when the command succeeded.

Investigate.

[2017-11-22 15:48] lassoan commented on #276
PlusRemote module works in Slicer, so maybe only some commands fail to get response.

Note that when you get a CMD_NNN string command message you always has to respond with an ACK_NNN string command acknowledgment message (it is not enough to just send the requested data in a POLYDATA message).

[2017-11-22 16:19] adamrankin commented on #276
Yes, I am noticing that the handling of v1/v2 is message dependant. It would be ideal if this handling was in the command processor.

[2017-11-22 16:20] adamrankin commented on #276
I have improved it somewhat now, and the base vtkPlusCommand class will now switch behaviour based on this->RespondWithCommandMessage when messages call this->QueueCommandResponse

[2017-11-22 16:35] adamrankin commented on #276
Hmm, it is handled in vtkPlusOpenIGTLinkServer::CreateIgtlMessageFromCommandResponse

Investigating why it's not working

[2017-11-22 16:39] adamrankin commented on #276
Haha just kidding. Coder error.

[2017-11-22 16:39] #276 closed

[2017-11-22 19:54] alankdkd opened #277 "Need help with Plus config file for ascension 3D tracker"
Hi there.  I'm trying to configure a stylus from an ascension 3D tracker without success.  I'd like to display its position in real time over a CAT-scan image.  I suspect the `<PlusOpenIGTLinkServer>` element in my config file is incorrect.  Can someone look at the XML and tell me what I'm doing wrong?  Thanks!  Alan

PlusDeviceSet_Server_Ascension3DG.xml (modified):

[code]

[2017-11-22 19:55] alankdkd commented on #277
The XML didn't come through (I tried bolding it).  Here it is:

<PlusConfiguration version="2.3">

  <DataCollection StartupDelaySec="1.0" >
    <DeviceSet
      Name="PlusServer: Ascension 3DG tracker"
      Description="Broadcasting tool tracking data through OpenIGTLink
Ascension3DG sensors should be plugged in to the Ascension3DG DriveBay mounted on Ultrasonix US in the following order from to

[2017-11-22 19:56] lassoan commented on #277
You need to use the "Insert code" format style to display XML string as verbatim text.

[2017-11-22 19:59] alankdkd commented on #277
Thanks lassoan!

[2017-11-22 20:00] lassoan commented on #277
The problem is that you try to send StylusTipToReference transform without specifying StylusTipToStylus.

Probably the simplest is to send StylusToReference, compute StylusTipToStylus in Slicer using pivot calibration, and add this computed StylusTipToStylus transform to the config file (either manually copying the values or using PlusRemote module in Slicer).

There are many tutorials about pivot

[2017-11-22 20:02] alankdkd commented on #277
Thanks again lassoan! I'll look at it.

[2017-11-23 19:06] adamrankin commented on #248
Let me know if you need any more information.

[2017-11-23 19:08] adamrankin commented on #245
The SDK does not include the PhantomIOLib.dll included in the driver package, meaning an installed Plus won't work if this device is included unless they install the device driver. This may not be the end of the world, but it's definitely sub-optimal. Could you reach out to the manufacturer and find out if we can include the driver DLLs in our deployed package?

[2017-11-27 04:42] lassoan commented on #245
There are a couple of devices like this (Interson ultrasound, Thorlabs spectrometer). Often placing a missing DLL in a package is not enough - you may need to properly install a driver, register controls, etc.

So far we've been creating a new edition of Plus for each devices that require installation of some custom driver (e.g., Interson, Thorlabs), or just not have it enabled in any current edit

[2017-11-27 21:37] alankdkd commented on #277
Hi Andras,

I've been trying to follow the tutorials (U-02, U-04, U-09, and U-11), but there are often directions that don't match the version of 3dSlicer I'm using (4.8).

For example, I'm trying the Pivot Calibration tutorial (https://onedrive.live.com/view.aspx?resid=7230D4DEC6058018!3128&ithint=file%2cpptx&app=PowerPoint&authkey=!AMy-wgNHStEKsPU), and in Slide 9 (Load data example), it says "L

[2017-11-28 09:42] HughLo commented on #275
Thanks for your help and comment @lassoan . I have calibrated and opened the default scene OpticalMarkerTracker_Scene. Shall I print the marker and attach it to the probe? How to integrate tracking stream and epiphan frame streaming together?

[2017-11-28 13:49] lassoan commented on #275
@Sunderlandkyl, could you give some help to @HughLo? Thanks!

[2017-11-28 17:10] alankdkd commented on #277
Hi Andras, never mind - I found the Extension Manager and was able to install Slicer/IGT.  It was very easy, but it took me a couple of hours to find it.  Maybe adding a note to tutorial U-11 on HOW to add a needle would save time for other readers.

Now on Slide 6, it says "Make sure the Sequences toolbar is visible".  But under View | Toolbars, there is no Sequence Browser.  Oh well, I'll find i

[2017-11-28 17:16] Sunderlandkyl commented on #277
Have you installed the sequences extension?
You should be able to find it by searching in the extension manager.

[2017-11-28 19:53] alankdkd commented on #277
Found Sequence Browser, and continued with tutorial U-11.  When I got to Pivot Calibration, the result was: "Pivot calibration failed: Not enough input transforms are available".

I was starting with a preexisting CAT scan model.  The hierarchy under Data | Transform hierarchy is unclear, and I probably have it set up wrong.  Under Scene is: Default Scene Camera, 1: Unnamed Series (my CAT scan), S

[2017-11-28 19:54] alankdkd commented on #277
Sunderlandkyl: Yes, I found it.  Thanks.

[2017-11-28 20:26] Sunderlandkyl commented on #275
@lassoan can correct me if I say anything wrong.
You will need to print the optical markers and attach them to whatever you need to track (Ultrasound, reference, etc.)

I don't think that you need to use OpticalMarkerTracker_Scene.
You should be able to connect to both the Epiphan and the webcam for optical tracking using a config file similar to the following:
[code]

Let me know if you need more

[2017-11-28 20:57] lassoan commented on #275
You can use OpticalMarkerTracker_Scene and the Plus configuration file that comes in the Plus package as a starting point; then modify them step-by-step to match your exact needs (rename transforms, remove what you don't need, etc).

[2017-11-28 21:24] lassoan commented on #277
@ungi Could you please update the tutorials based on the feedback above?

[2017-11-28 22:17] alankdkd commented on #277
OK, I was able to connect the tracker/stylus to Slicer/Plus.  The port numbers didn't match, which took a while to figure out; Plus uses port 6000, and Slicer defaulted to 18944.  (Maybe add a tutorial tip to watch for this in OpenIGTLinkIF.)

The transforms ReferenceToTracker, StylusToReference, and StylusTipToStylus are working, but I can't make the needle in the scene track stylus movements yet

[2017-11-28 22:34] alankdkd commented on #277
I have a question about the position/orientation sensor on the stylus:  The diagram in tutorial U11, Slide 3 shows the "position marker" (sensor) to be co-linear with the stylus.

We're using a custom-designed stylus and a surgical drill that has the sensor attached to the side of the tool, i.e. it's offset from the tool axis by about a centimeter.  Will this still be accurate with the pivot-calib

[2017-11-29 02:40] lassoan commented on #277
Pivot calibration can take care of aligning the axis as well (spin calibration step).

[2017-11-29 03:41] ungi commented on #277
I will update the tutorials hopefully by the end of the year. Until then, I recommend the U-37 tutorial, which includes pivot calibration, and it was done with Slicer 4.8.

[2017-11-29 11:00] u0078867 opened #280 "position from inertial sensor"
Is there a way to get the position from inertial sensor data?

e.g. integrating twice (supposing x0=0, v0=0) the acceleration vector expressed in the IMU reference frame and analysing the drifts?

We might be interested in this for voxel-array reconstruction.

We could not find ourselves if this was already implemented for CHRobotics and Phidget IMU in the code, we only see calculations on orienta

[2017-11-29 12:05] HughLo commented on #275
Thank you @lassoan and @Sunderlandkyl . In my case, the Epiphan frame grabber and Webcam are installed in two different server. I try to use device *OpenIGTLinkVideo* to transfer video from one server to another, but it seems failed.  The snippet of my configuration file is:
[code]

In the log file, it reports:

Is there something wrong with my configuration?

[2017-11-29 12:42] nehk018 commented on #172
Hello,
when I try to build the latest version of PlusLib I get the next error:

PlusLib/src/PlusImageProcessing/vtkPlusTransverseProcessEnhancer.cxx:35:21: error: cannot call constructor ‘vtkPlusTransverseProcessEnhancer::Superclass {aka vtkPlusBoneEnhancer}::vtkPlusBoneEnhancer’ directly
   this->Superclass::vtkPlusBoneEnhancer();

Best regards
Jorge

[2017-11-29 13:42] lassoan commented on #172
Thanks for reporting this. It seems that gcc has trouble with a modification that was committed yesterday.

@Sunderlandkyl could you touch it up? It shows up on our dashboard, too: http://perkdata.cs.queensu.ca/CDash/viewBuildError.php?buildid=84402

[2017-11-29 13:53] Sunderlandkyl commented on #280
I am not familiar with the inertial sensor devices. @lassoan should have a better idea of what is currently implemented.

[2017-11-29 13:55] lassoan commented on #280
Double integration is not possible on portable sensors (noise level is so high that you get several meters of position error within a second).

Typically you reconstruct volumes using inertial sensors by pivoting or rotating the probe.

[2017-11-29 14:08] Sunderlandkyl commented on #275
@HughLo could you attach the config files for both servers?

[2017-11-29 15:01] Sunderlandkyl commented on #172
@nehk018 @lassoan Should be fixed now!

[2017-11-29 15:19] alankdkd commented on #277
Thanks ungi!

[2017-11-29 16:47] alankdkd commented on #277
Some inaccuracies in Tutorial U04, Coordinate Transforms:

1. Slide 6, Step 2: Should be "Create new Linear Transform as..."
2. Slide 7, Step 2: There is no Create model button; should be "Create coordinate system".
3. Slide 7:  Add pressing Create cube; it's assumed on Slide 8.

[2017-11-30 06:59] HughLo commented on #275
@Sunderlandkyl
The following is the configuration for receiving server:
[code]

The following is for sending server:
[code]

[2017-11-30 08:03] HughLo commented on #275
@Sunderlandkyl  another problem is that when I tried to run Scout Scan, it always reports the following error message. How to define Marker0ToTracker transform?

[2017-11-30 16:18] Sunderlandkyl commented on #275
@HughLo
Are both of the servers running on the same computer? If that is the case, then you will need to change one of the ports from 18944 to something unique in either the receiving or sending server.

Otherwise, can you confirm that the optical marker tracks when using the example Optical marker tracker scene and config file?
Can you also check to make sure that you are using Marker0? There sho

[2017-12-01 09:15] HughLo commented on #275
@Sunderlandkyl Thank you so much for the help. Now I can run the scout scan. I used an incorrect marker.

[2017-12-01 09:15] #275 closed

[2017-12-01 19:26] lassoan opened #281 "Make BK support available in release package"
BK interface is fully our own code, so it should be no problem making it available in public releases.

[2017-12-01 19:28] lassoan commented on #281
@Sunderlandkyl Could you check if we can enable BK support in all packages? (check if we can build it, run it without having access to a BK scanner; does not increase the package size significantly, etc.)

[2017-12-01 19:29] lassoan commented on #281
@Sunderlandkyl it would be great if you could quickly build a package for Win32 and post the link here so that our collaborators at CNMC can try it.

[2017-12-01 20:47] Sunderlandkyl commented on #281
[Here's a link to the 32 bit build. I'll upload a 64-bit build shortly.](https://www.dropbox.com/sh/sges20yj8ywzbeq/AAAwxTcNuvAjqG5UJOlS20NYa?dl=0)

It runs on my computer without a BK scanner, and doesn't seem to increase the package size by much, so we could probably enable it for all of the packages.

[2017-12-04 19:47] jamesobutler commented on #265
So I've been trying to debug this lately and have narrowed it down to a specific order of operations.  I'm not sure if this is something with how PLUS is handling openigtlink, or some issue with OpenIGTLinkIF within Slicer.

**Current Setup:**
CViewUSB (capistrano labs program for viewing ultrasound stream directly; seen in images below)
Slicer 4.8.0 stable
PlusApp 2.6.0 stable (used to stream the

[2017-12-05 06:10] lassoan commented on #265
What is unclear for me is how OpenIGTLink communication is related to scanning or scan conversion errors in  CView.
- It may be just a CPU load issue - if CView, Plus, Slicer, etc. are all running on the same computer then maybe CView sometimes does not get enough CPU time and that causes errors in the digitization. Setting CView process priority to higher may help.
- There may be also a bug in CV

[2017-12-05 17:25] jamesobutler commented on #265
CView is a C# GUI based program made by Capistrano Labs. It doesn't use OpenIGTLink. It calls the two Dlls directly (usbProbe.dll and BmodeUSB.dll).

All the process are being run on the same computer.

I don't believe it to be a CPU load issue.  With all those programs running and streaming, I'm at most 30% load.

## More Information
**Current Setup**
PlusApp 2.6.0 stable (64 bit) for mmf webcam

[2017-12-05 20:27] lassoan commented on #265
Does CView communicates with any other software through OpenIGTLink? If not, then how it is possible that the image in CView gets corrupted, depending on how two other applications (PlusServer and Slicer) are communicating with each other?

There should be absolutely no difference between the client connecting to an already running server (OFF->ON) versus client is waiting for a server to start an

[2017-12-05 21:27] jamesobutler commented on #265
Thanks for the responses @lassoan.  Yeah not sure why a Slicer and Plus communication would affect streaming that is going on through CView which is not using openigtlink.

1. I start Plus64-bit for the webcam where the xml specifies an openigtlink server but doesn't include any data to go across it.
2. I then start Plus32-bit for capistrano streaming where the xml specifies an openigtlink server

[2017-12-06 20:39] markasselin opened #283 "CMake 3.10.0 automoc generates files in a different directory"
From the CMake 3.10.0 release notes:
"When using AUTOMOC or AUTOUIC with a multi configuration generator (e.g. Xcode), included *.moc, moc_*.cpp and ui_*.h files are generated in <AUTOGEN_BUILD_DIR>/include_<CONFIG> instead of <AUTOGEN_BUILD_DIR>/include."

@lassoan this was an intentional change.

[2017-12-06 21:26] lassoan commented on #283
Could we add both .../include and  .../include_ to the list of include directories?

[2017-12-07 02:11] markasselin commented on #283
Unfortunately not - this leaves non-existent directories in the INTERFACE_INCLUDE_DIRECTORIES. I have a working solution which wraps the addition of .../include, .../include_Debug and .../include_Release in if statements checking if the directory exists - but there must be a cleaner solution than this...

[2017-12-07 02:24] lassoan commented on #283
It is possible that these include directories are set as target properties in some targets. If we link that target then the appropriate include directory is added automatically. Could you check if build succeeds if we simply remove the manual directory include?

[2017-12-07 02:55] markasselin commented on #283
No luck, build fails without the manual directory include.

[2017-12-08 16:53] lassoan commented on #283
Nice work! Don't forget to close this issue if the problem is resolved.

[2017-12-08 19:25] lassoan opened #285 "Connection to BK ultrasound fails on Windows"
It seems like PlusServer crashes when trying to connect to a BK ultrasound system.

[2017-12-08 19:26] lassoan commented on #285
Plus log:

[code]

[2017-12-08 19:28] lassoan commented on #285
Could you please send the logs that you get by setting the log level to TRACE (verbose level 5)?

[2017-12-08 19:32] XinyangLiu commented on #285
|INFO|000.047000| Software version: Plus-2.7.0.446c9499 - Win64| in E:\d\p\PTN-BK-64\PlusApp\PlusServerLauncher\PlusServerLauncherMainWindow.cxx(102)
|INFO|000.047000| Logging at level 3 to file: C:/Users/ARFUSION/PlusApp-2.7.0.20171129-BK-Win64/data/120817_142700_PlusLog.txt| in E:\d\p\PTN-BK-64\PlusApp\PlusServerLauncher\PlusServerLauncherMainWindow.cxx(103)
|INFO|000.048000| Supported devices:

[2017-12-08 20:03] lassoan commented on #285
As you can see, the log is still Level 3. Please set the log level in PlusServer launcher to Level 5 (TRACE).

[2017-12-08 20:06] lassoan commented on #285
Indicates that you have not enabled continuous streaming. Set ContinuousStreamingEnabled attribute to "TRUE" and send the Level 5 logs. Thanks!

[2017-12-08 20:28] XinyangLiu commented on #285
time|level|timeoffset|message|location
120817_152751.667|INFO|000.001000| System start timestamp: 174222| in E:\d\p\PTN-BK-64\PlusLib\src\PlusCommon\vtkPlusAccurateTimer.cxx(54)
120817_152751.669|INFO|000.002000| Software version: Plus-2.7.0.446c9499 - Win64| in vtkPlusLogger(188)
120817_152751.669|INFO|000.002000| Logging at level 5 (TRACE) to file: C:/Users/ARFUSION/PlusApp-2.7.0.20171129-BK-Win

[2017-12-08 20:34] ungi commented on #285
Some part of the previous message is missing, but Xinyang sent it to you in an email.
In the meantime we found an older version of PLUS on the same computer, and the same BK interface works on it properly. The PLUS revision number is 3193. So we have a backup plan. But it would be good if we could use a new PLUS next week.

[2017-12-08 20:54] lassoan commented on #285
Thank you. Please follow Installation instructions as described on this page:

http://perk-software.cs.queensu.ca/plus/doc/nightly/user/DeviceBkProFocus.html

It would fix the problem.

[2017-12-08 22:24] XinyangLiu commented on #285
Now, the BK image can be streamed to fCal (new) with 20 frame rate. However, for Plus Server (new), the maximum frame rate is 4, and not crash. It will crash with higher frame rate.

When I open Slicer to view the streamed US image, the image does not update. I am not sure if I missed something.

[2017-12-08 23:48] lassoan commented on #285
Frame rate is maximized at 4 if you have not enabled continuous acquisition. Make sure ContinuousStreamingEnabled is set to true.

[2017-12-10 17:38] markasselin commented on #283
@lassoan Just a reminder to merge [PR 284](https://github.com/PlusToolkit/PlusLib/pull/284)

[2017-12-10 18:12] lassoan commented on #283
Thank you!

[2017-12-10 18:12] #283 closed

[2017-12-11 01:52] adamrankin commented on #247
aruco builds just fine, ovrvisionpro was the one I was thinking will fail.

[2017-12-11 02:03] adamrankin commented on #247
ovrvisionpro patched to build with cv 3.3.1, running tests now and then will update. bonus: UDP fix for RTSP streaming will be included

[2017-12-11 02:57] #247 closed

[2017-12-11 15:12] joaolgfonseca opened #286 "fCal (orientation problems after calibration)"
To whom it may concern,

First of all congratulations for PLUS Toolkit and for sharing it.

Currently, I am trying to use PLUS Toolkit to grab information from an ultrasound machine (using the ephiphan video to get the image from the display monitor) and an NDI Aurora electromagnetic sensor. Besides, I am using the fCAL software to perform calibration between these two equipments (using a convex p

[2017-12-11 15:22] Sunderlandkyl commented on #286
@lassoan

[2017-12-11 15:24] Sunderlandkyl commented on #281
I'll wait until we hear that the BK support works well (https://github.com/PlusToolkit/PlusLib/issues/285) before enabling it on the nightly (and I assume, stable) builds.

[2017-12-11 15:48] XinyangLiu commented on #285
The ContinuousStreamingEnabled is set to true. The fCal is fine but not the Plus server when setting the frame rate to above 4.

[2017-12-12 17:17] carlos-luque opened #287 "How can I define the paths of the PLusLib and PlusApp in PlusBuild?"
Hello,

I cloned the repository PLusLib, PlusApp and PlusBuild and made some code changes in PlusLib and PlusBuild. I would  like to test the changes are correct in both libraries, but I cannot find the way to pass the paths of the PlusLib and PlusApp to the PlusBuild that compiles that libraries.

The PlusBuild defines the default paths for the library contents :
- PlusLib: ${CMAKE_BINARY_DIR}/Pl

[2017-12-12 17:30] adamrankin commented on #287
PlusBuild downloads and compiles PlusLib and PlusApp, and so we put them in hardcoded directories (as you've stated).

Our typical work flow is to modify the cloned folders <PlusBuild binary dir>/PlusLib and use those as our git repositories.

My suggestion would be to overwrite <PlusBuild binary dir>/PlusLib with your external copy.

[2017-12-12 17:52] carlos-luque commented on #287
Thanks for your reply.

[2017-12-12 17:55] adamrankin commented on #287
Let me know if this solution doesn't work for you.

[2017-12-12 17:55] #287 closed

[2017-12-12 23:04] dzenanz opened #288 "RF processor's support for 32-bit values"
Currently, RfProcessor only supports [short](https://github.com/PlusToolkit/PlusLib/blob/f85f13a08b96c809c3a8bba58d0a7c9c4c462695/src/PlusImageProcessing/vtkPlusRfToBrightnessConvert.cxx#L139) data type. Are there any objections for me to extend it to support `VTK_INT` too? Is is better if I make the existing function templated, or is it for some reason better to duplicate code?

[2017-12-13 12:40] carlos-luque commented on #287
The solution works.
Thanks.

[2017-12-13 14:03] carlos-luque opened #289 "The widgets are not built in Windows"
Hello,

   I am trying to build Plus toolkit (with Qt5.7 and Qt5.9.2) in Windows, but I have the same errors as both Qt versions:

`Error	2356	error C1083: Cannot open include file: 'ui_QPlusDeviceSetSelectorWidget.h': No such file or directory [D:\PlusBBin57\PlusApp-bin\PlusServerLauncher\PlusServerLauncher.vcxproj]	D:\PlusBBin57\PlusLib\src\PlusWidgets\QPlusDeviceSetSelectorWidget.h	13	1	PlusApp

[2017-12-13 15:37] #288 closed

[2017-12-13 15:46] adamrankin commented on #289
What version of CMake?

[2017-12-13 15:47] adamrankin commented on #289
@markasselin Could this be related to #283 ?

[2017-12-13 15:53] markasselin commented on #289
@carlos-luque Which version of CMake are you using?

[2017-12-13 15:57] adamrankin commented on #289
@markasselin Same with 3.9.2 (VS2015, which I'm pretty sure will not affect this issue, & Win 10, and Qt 5.9.1)

[2017-12-13 16:49] markasselin commented on #289
@adamrankin I'm using VS2013 with Qt5.9.1. Everything built fine for CMake 3.7.2, but for CMake 3.10.0 I have to run the build again and it succeeds the second time.

What behavior would I notice if widgets didn't build correctly?

[2017-12-13 16:51] adamrankin commented on #289
Build errors in PlusLib.

If the errors are in PlusApp, then it's probably a problem of PLUSLIB_INCLUDE_DIRS.

What happens with 3.10.0 the first time?

[2017-12-13 16:53] markasselin commented on #289
The first time I get the same error as @carlos-luque. After rebuilding PlusLib build a-ok.

[2017-12-13 17:02] adamrankin commented on #289
Same, are you able to identify why it doesn't succeed first time?

[2017-12-13 17:03] markasselin commented on #289
I un-intelligently rebuilt without saving the build log from the first built, so I'm now waiting for a clean build to run.

[2017-12-13 19:51] carlos-luque commented on #289
The cmake version is 3.9.7.  I have all log files if necessary. If you tell me what files you need, I can send them to you by email.

[2017-12-13 20:19] adamrankin commented on #289
We've been able to reproduce your issue, and I think @markasselin is going to look into it. If so Mark, could you assign yourself? If not, let me know and I'll see if Andras is available.

[2017-12-13 20:20] lassoan commented on #289
I won't be able to work on this for at least a couple of days.

[2017-12-13 20:23] adamrankin commented on #286
A very basic question, but could you confirm that the wiring of the phantom matches the configuration file? Could you take a few pictures of your fCal_3.1 and your calibration configuration file's `<PhantomDefinition>` section.

[2017-12-13 20:24] adamrankin commented on #286
Additionally, what is your stylus error, and your phantom error?

[2017-12-13 20:25] adamrankin commented on #277
@ungi Would you have time to make these corrections? (disregard if already completed).

If so, could we close this issue?

[2017-12-13 20:39] carlos-luque commented on #289
Great, I'll use another cmake version. Is the version 3.7.2 OK?.

[2017-12-13 20:47] adamrankin commented on #289
I guess so, the issue occured for me in 3.9.4

[2017-12-13 21:20] markasselin commented on #289
@carlos-luque Everything builds ok for me in 3.7.2. Or, try running the CMake 3.10.0 build twice - this succeeded for me. It fails the first time, then when the build is run a second time it succeeds. I've had no problems after that.

@lassoan @adamrankin I'm investigating, in the meantime we should remove commit 64bf672d79 from PlusLib master so that building works as expected for all CMake versi

[2017-12-13 22:11] carlos-luque commented on #289
Thank all for your messages.

The cmake version 3.7.2 works in my environment setup. I could build the Plus toolkit with Qt 5.9.2.
 I'm curious about it.

[2017-12-14 15:04] joaolgfonseca commented on #286
Thank you very much for your concern.

We extensively examine the equipment and we found that the 6-DOF sensor (bought recently) attached to the probe is not working properly. The rotations, obtained from some axis, are incorrectly computed by NDI Aurora. We think this is the cause of the orientation problems. In addition, we tested the alternative calibration method (pointer-based calibration) us

[2017-12-15 15:13] remidel opened #292 "PlusApp-StealthLink"
Hi,

I would like to use the PlusApp-Stealthlink package to connect the Medtronic Stealthstation with Slicer but the zip file is protected by a password. Do you know how could I have access to the package ?

Thank you

[2017-12-15 17:08] adamrankin commented on #292
Could one of the Queen's group let him know?

[2017-12-16 03:50] markasselin commented on #289
@lassoan @adamrankin PR #294 fixes this issue

[2017-12-16 13:49] adamrankin commented on #286
At the moment Plus does not do 2x 5-DOF to 6-DOF calculation. If you implement it for your app, I'd be happy to look into integrating it into Plus if you like.

[2017-12-16 13:51] #277 closed

[2017-12-16 14:05] #289 closed

[2017-12-16 19:31] lassoan commented on #292
Do you have license from Medtronic to access your StealthStation through StealthLink? If yes, then please contact me at lasso@queensu.ca for the password.

[2017-12-16 19:33] #280 closed

[2017-12-16 20:15] #260 closed

[2017-12-16 20:25] adamrankin commented on #233
See PR here
[https://github.com/PlusToolkit/PlusBuild/pull/21](https://github.com/PlusToolkit/PlusBuild/pull/21)

[2017-12-16 20:26] adamrankin commented on #233
Working on PlusLib/vtkPlusDataCollection CMake now.

[2017-12-17 15:58] ZihengTsingHua opened #296 "Whether can I ues PLUS to acquire and save ultrasound images and tracker data?"
Hello guys.
I meet a problem when I use plus-slicerIGT to develop ultrasound-guided surgery.
It is clear that images and tracker data can be aquired by PLUS, and  then send to Slicer by openlinkIF.
I want to know to Whether I can save Image sequence and tracker data into local file by PLUS (xml)? Because I want to use these original data to develop a new temporal and spatial calibration algorithum

[2017-12-17 16:03] ZihengTsingHua commented on #296
Maybe I have find the solution...
https://github.com/PlusToolkit/PlusMatlabUtils
Thanks to lassoan

[2017-12-17 16:04] #296 closed

[2017-12-17 19:05] markasselin commented on #289
@carlos-luque Everything should be fixed now for you to build with 3.10.0 successfully. Thank you for bringing this issue to our attention!

[2017-12-18 09:17] #292 closed

[2017-12-18 10:53] joaolgfonseca commented on #286
Ok. I will check if I can implement it.

Thank you very much.

[2017-12-18 11:16] carlos-luque commented on #289
@markasselin  you're welcome, thanks for replying quickly

[2017-12-18 14:29] lassoan opened #298 "On-line user manual is not searchable"
Search box is not available in user manual (http://perk-software.cs.queensu.ca/plus/doc/nightly/user/index.html). This makes it very difficult to find information.

User manual should be build with server-side indexing enabled in CMake.

[2017-12-18 14:59] Sunderlandkyl commented on #298
Search box should be available now in user documentation.

[2017-12-18 15:01] adamrankin commented on #298
Will confirm tomorrow. (unless you can manually push the docs to the server?)

[2017-12-18 15:01] Sunderlandkyl commented on #298
Already did.

[2017-12-18 15:02] Sunderlandkyl commented on #298
* Clarification, i just manually enabled the argument in PlusApp, I didn't test the cmake change.

[2017-12-18 15:02] adamrankin commented on #298
Ah ok, want to verify the whole chain.

[2017-12-18 15:03] Sunderlandkyl commented on #298
Yeah, I'm going update PlusBuild on the Package PC and test now.

[2017-12-18 17:11] Sunderlandkyl commented on #298
Had to make one more change (https://github.com/PlusToolkit/PlusBuild/commit/026bf177c1f655efc1521a1da2787d81aa0f90fe), but it works now on the nightly build machine, and user docs have been updated on the website.

[2017-12-18 17:11] #298 closed

[2017-12-18 17:46] lassoan commented on #298
It works great, thank you!

[2017-12-19 13:54] nehk018 opened #301 "Issue: images were not sending via OpenIGTLink."
Hello,
when I run the Plus Server I have the next warning:

`EmbeddedTransformToFrame attribute of ImageNames/Image element #0 is missing. This element will be ignored.| in /PlusLib/src/PlusOpenIGTLink/PlusIgtlClientInfo.cxx(131)`

I checked in the log that images were not sended

`Data sent by default: IGTL version: 1Message types: IMAGE. TDATARequested: FALSE. LastTDATASentTimeStamp: -1. TDATARe

[2017-12-19 14:14] Sunderlandkyl commented on #301
Are you running the most recent version?
There is currently a problem with the PlusServer that is causing some of the tests to fail:  ([PlusServer](http://perkdata.cs.queensu.ca/CDash/testSummary.php?project=12&name=PlusServer&date=2017-12-19) [vtkOpenIGTLinkTrackerTest](http://perkdata.cs.queensu.ca/CDash/testSummary.php?project=12&name=vtkOpenIGTLinkTrackerTest&date=2017-12-19))

From what I can

[2017-12-19 15:02] Sunderlandkyl commented on #301
If the issue that you encountered is related to the one that caused the tests to fail, then I believe that it should be fixed in the next nightly version tomorrow morning.

Let me know if it's fixed, or if you still encounter this problem.

[2017-12-19 15:58] adamrankin commented on #301
That's my fault. Didn't run tests before merging. Fixing it now.

[2017-12-19 15:59] adamrankin commented on #301
Oh, Kyle already fixed it. Thanks, sorry!

[2017-12-19 20:23] carlos-luque commented on #301
@Sunderlandkyl  Thanks for your reply. This fix works.  We're using the nightly code version  in Linux because we cannot use the stable version (PLus-2.6). The reason is due we have some compilation errors:

`Plus-26/PlusBuild-bin26/PlusLib/src/PlusServer/vtkPlusOpenIGTLinkServer.cxx:785:9: error: ‘MessageContent’ is not a member of ‘igtlio::PolyDataConverter’
         igtlio::PolyDataConverter::M

[2017-12-19 20:49] Sunderlandkyl commented on #301
Ah, I didn't know you were using Linux, and compiling your own version of Plus.

Yes, it's caused by compiling with a different version of OpenIGTLinkIO.

These lines show the specific commit of OpenIGTLinkIO that should be used for the Plus-2.6 branch: https://github.com/PlusToolkit/PlusBuild/blob/5c2d4417f407ad2a974c6b21817a673f406eccd8/SuperBuild/External_OpenIGTLinkIO.cmake#L32-L33
The master

[2017-12-19 21:44] dzenanz opened #302 "PlusBuild has wrong VTK repository address"
The git protocol address should be specified as `git@gitlab.kitware.com:vtk/vtk.git`, whereas https address is `https://gitlab.kitware.com/vtk/vtk.git`. Making a `git://gitlab.kitware.com/vtk/vtk.git` address does not work:
[code]
PR to point it to GitHub mirror: PlusToolkit/PlusBuild#24

[2017-12-20 08:45] carlos-luque commented on #301
Hello,

   We managed to compile the Plus version 2.6. Thanks a lot.

Now if we run PlusServerLauncher, it cannot run PlusServer because the PlusServer path is not right.  I'm copying the errors:

`Start remote control server at port: 18904
Connect using configuration file: Plus-26/PlusBuild-bin26/PlusLibData/Server_OpenCVVideoSource_Webcam.xml
Server process command line: "/Plus-26/PlusBuild-bin2

[2017-12-20 16:10] jamesobutler commented on #129
This is an old issue that was ported from Assembla and can be closed.

vtkPlusCapistranoVideoSource has been present in PlusLib for awhile now.

[2017-12-20 16:11] #129 closed

[2017-12-20 16:31] Sunderlandkyl commented on #301
If I'm reading the code correctly, the executable for PlusServer should be retrieved as an absolute, instead of a relative one
([PlusServerLauncherMainWindow::StartServer()](https://github.com/PlusToolkit/PlusApp/blob/b3f1731f4ae3ed1490da5c99beaa5fc6fe2a4b3e/PlusServerLauncher/PlusServerLauncherMainWindow.cxx#L192)->
[vtkPlusConfig::GetPlusExecutablePath()](https://github.com/PlusToolkit/PlusLib/b

[2017-12-20 16:36] #302 closed

[2017-12-20 16:36] #263 closed

[2017-12-20 16:37] #233 closed

[2017-12-20 16:41] jamesobutler commented on #168
What's the status/plans for this issue? I noticed that @cpinter recently merged some commits into the master branch adding a vtkPlusSetUSParameterCommand.

The group I'm with has been using a custom program around Plus to send ultrasound parameter commands to a vtkPlusCapistranoVideoSource device for awhile now.  We frequently use it to update WobbleRate(frame rate), bidirectional/unidirectional m

[2017-12-20 16:52] adamrankin commented on #168
That is the hope. We've wanted US parameter setting through Plus for a
while, and it looks like Csaba has time to work on it.

On Wed, Dec 20, 2017 at 11:41 AM, James Butler <notifications@github.com>
wrote:

[2017-12-20 17:09] lassoan commented on #168
@cpinter could you help @jamesobutler in applying your new developments for their project?

[2017-12-20 17:19] cpinter commented on #168
@jamesobutler The plan is to have a device-invariant way of setting parameters. The devices can specify parameter constraints etc, and will be responsible for communicating device parameter changes (when somebody turns a knob for example).
It seems we need to add new parameters to support your use case (all three you mention). I can add these while I work on the other aspects of this task.

[2017-12-20 19:10] jamesobutler commented on #168
So is there a master list of parameters that is used by all devices, or does each device have its own list of parameters that can be changed?

For a Bidirectional/Unidirectional parameter, this would only be relevant for single element wobbler probes and not for say a linear array.  Though I could see Freeze/Unfreeze being used by all probes.

Also @dzenanz is who I work with as he issues most com

[2017-12-20 19:24] lassoan commented on #168
The idea is to have as many common parameters as possible. It allows applications to switch between various ultrasound systems with minimal changes.

Of course, in addition to common parameters, devices can expose any number of custom, device-specific settings.

[2017-12-20 19:51] jamesobutler commented on #168
Ok, makes sense. Is this limited to Ultrasound related parameters?  Or can we send commands to other devices within PlusDataCollection?  We will be adding support for an Andor CCD camera for BLI acquisitions to pair with Ultrasound.  This will likely need to accept commands for changing settings like shutter, exposure, binning, etc.  We also use our program to send/receive info to GenericSerialDev

[2017-12-20 20:00] lassoan commented on #168
We have a common base class for ultrasound imaging devices, which enables common interface. At some point, it would probably make sense to implement a common interface for optical cameras, too.

Calibration reset and similar commands will most likely remain device-specific.

[2017-12-21 23:00] dzenanz opened #304 "Static libraries broken, again"
The error messages are below. This set of link errors repeats a few times in build of PlusLib.
[code]

[2017-12-21 23:05] dzenanz commented on #304
Are there instructions on how to set up a nightly build for the [dashboard](http://perkdata.cs.queensu.ca/CDash/index.php?project=PlusLib)? Are there special permissions needed for that? I am willing to use my machine to do nightly builds of PlusLib.

[2017-12-21 23:10] adamrankin commented on #304
No special permission needed. We provide convenience scripts BuildAndTest.sh -N (BuildAndTest.bat -N on Windows).

[2017-12-21 23:13] adamrankin commented on #304
I also highly encourage the use of a build suffix if you are going to do a nightly static build. It's one of the options in PlusBuild (and PlusLib)

[2017-12-21 23:26] dzenanz commented on #304
There is a `BUILDNAME` _vs14x86-Windows-6.1.7601_, but I could not find a suffix, only install prefix :smile:
I have manually started a `BuildAndTest.bat -N` for PlusLib now, and scheduled one nightly for 21:14 ET.

[2017-12-21 23:28] dzenanz commented on #304
The first run finished, build results are available [here](http://perkdata.cs.queensu.ca/CDash/buildSummary.php?buildid=85931).

[2017-12-21 23:31] adamrankin commented on #304
PLUSBUILD_BUILDNAME_POSTFIX, sorry.

[2017-12-21 23:33] dzenanz commented on #304
Ah, that is only defined in PlusBuild, not PlusLib. I will create a new build then, exclusively for nightly testing.

[2017-12-22 12:25] leb opened #305 "Error in build instructions for Linux"
In the [build instructions for Linux](https://github.com/PlusToolkit/PlusBuild/blob/master/Docs/BuildInstructionsLinux.md), it says that "Qt entry should read as /some/qt-install-dir/bin/qmake". However, I believe it should read something like /some/qt-install-dir/lib/cmake/Qt5. (This is probably obvious to those experienced with cmake, but some of us are not.)

[2017-12-22 15:00] Sunderlandkyl commented on #305
Thanks for finding this! It should be fixed now. Let us know if you find any other issues with the documentation.

[2017-12-22 15:00] #305 closed

[2017-12-28 22:44] dzenanz commented on #304
Here is a [build](http://perkdata.cs.queensu.ca/CDash/buildSummary.php?buildid=86405) which is currently on the dashboard. It shows the errors static libraries build gets into.

[2017-12-29 04:46] lassoan commented on #304
@Sunderlandkyl Could you please help with this?

1. We need to fix the build error. Probably moving implementation of vtkPlusCommand* Clone() from the header to the cxx file will solve the problem.

2. To catch such build errors earlier, we need to add a **static** build configuration of Plus on ARTERY, for both stable and master branch.

[2017-12-29 17:37] Sunderlandkyl commented on #304
@lassoan Sure, I'll take a look at it.

[2017-12-29 23:07] dzenanz opened #306 "Docs out of sync"
I had a [branch](https://github.com/dzenanz/PlusLib/tree/winprobeRF) in my repo with a lot of changes. [Merging](https://github.com/dzenanz/PlusLib/tree/wpRF) current master required a lot of manual conflict resolution. I am now trying to use AStyle to format the resulting file, but the format given in this [document](https://github.com/PlusToolkit/PlusBuild/blob/master/Docs/BuildInstructionsWindo

[2017-12-29 23:57] lassoan commented on #306
If I understand correctly, the question is about what code formatting style we should use.

Since VTK adopted sensible bracing indentation and method documentation style, we could consider switching to latest VTK style. What do you think? @adamrankin @cpinter @Sunderlandkyl

[2017-12-29 23:59] adamrankin commented on #306
Definitely fine by me. Any auto-formatters that people find that work would be great. So far, the Astyle visual studio extension is ok, but I'm open to new options.

[2017-12-30 03:46] lassoan commented on #306
I don't think there is an auto-formatter for VTK style, but VTK contributors developed scripts for making specific changes throughout the code when it was needed. As far as I know, usage of auto-formatters is not permitted: you are only allowed to change formatting in the block of code that you modified.

I think we should avoid using auto-formatters (that modify the entire file) in Plus, too. The

[2018-01-02 13:52] terajnol opened #308 "First steps to connect a (not yet supported) XSENS mtw inertial measurment unit"
Hi all,

I would like to connect my Mtw IMU to 3D slicer through PLUS Toolkit.
I downloaded the toolkit and I am following the tutorials (on http://www.slicerigt.org/wp/user-tutorial/) but I couldn't get exactly what to edit in the config file. As adviced, I start from an example file, PlusDeviceSet_Server_Microchip.xml.
How does PLUS access to my device, just by the id of the serial port ?
Also,

[2018-01-02 14:57] Sunderlandkyl commented on #308
[Is this the device that you are referring to?](https://www.xsens.com/products/mtw-awinda/)

To use the Xsens MTw with Plus, a new device would need to be implemented in Plus that uses the Xsens API. Here is an example for a device that communicates with OptiTrack hardware: https://github.com/PlusToolkit/PlusLib/tree/master/src/PlusDataCollection/OptiTrack.

Unfortunately we don't have access to a

[2018-01-02 14:59] adamrankin commented on #308
No, that's correct.

PortName for each device has unique behaviour, and should be documented in each device's documentation page.

@terajnol If you have the ability to implement a device interface class, that would be great. If you need a starter, I can give you some information. Otherwise, I would recommend duplicating a similar device and starting from there.